[2019-02-28 19:10] codegrue opened #1 "LEDs"
Thanks for making this. Do you have any references for where to get the LED's to control?

[2019-02-28 19:33] EricHigdon commented on #1
Most of my LEDs have come from Amazon. The Alitove LEDS always seem to be fairly good quality, so maybe [these](https://www.amazon.com/ALITOVE-Individual-Addressable-Programmable-Non-Waterproof/dp/B01MG49QKD/ref=sr_1_5?keywords=ws2811+led+strip+5v&qid=1551381721&s=gateway&sr=8-5).

However, this plugin should support anything that rpi_ws281x supports, so the options are virtually endless. I've als

[2019-02-28 19:33] #1 closed

[2019-02-28 19:51] codegrue commented on #1
Perfect, Thank you!

[2019-02-28 19:54] codegrue commented on #1
The Amazon one will plug right into the Raspberry Pi circuit board? Forgive me I'm new to this stuff.

[2019-02-28 20:16] EricHigdon commented on #1
For the most part. You'll probably want to use an external power supply (your 3D printer supply may work if you use a buck converter to shift the voltage).

The [Adafruit tutorial](https://learn.adafruit.com/neopixels-on-raspberry-pi) for Neopixels on the Raspberry Pi is a very good resource for getting started.
**Note**: "NeoPixels" are the Adafruit branded version of WS2811/2812 LEDs. The Amazon

[2019-02-28 23:01] Penfold81 opened #2 "Cannot instal"
Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-req-build-2fSZRe/
Error!
Could not parse output from pip, see plugin_pluginmanager_console.log for generated output

Octoprint Version 1.3.10

Octopi Version 0.15.1, running on Raspberry Pi 3 Model B Plus Rev 1.3

[2019-03-01 02:34] EricHigdon commented on #2
Fixed with b69b558e2087af5b3cc542d590f9ed234fd9e33a

[2019-03-01 02:35] #2 closed

[2019-03-01 17:53] foxabilo opened #3 "After Installing RGB-Status Octoprint crashes on print start"
After Installing RGB status from the plugins menu in octoprint with OctoPrint 1.3.10 running on OctoPi 0.16.0 Octoprint crashes when a print starts.

[2019-03-01 19:07] EricHigdon commented on #3
@foxabilo Can you share some more info? Maybe your [octoprint.log](https://community.octoprint.org/t/where-can-i-find-octoprints-and-octopis-log-files/299)?

[2019-03-01 20:17] foxalabs commented on #3
[logs.zip](https://github.com/EricHigdon/OctoPrint-RGB_status/files/2920926/logs.zip)

[2019-03-01 20:32] foxalabs commented on #3
Anything I can do to help just ask

[2019-03-01 20:42] EricHigdon commented on #3
@foxabilo Interesting. I'm seeing that rpi_ws281x is having trouble initializing.

Do you have SPI enabled on your raspberry pi?
`sudo raspi-config`

Interfacing Options > SPI

[2019-03-01 22:15] foxalabs commented on #3
It was enabled prior to this, but then I formatted the SSD to install OctoPi 0.16.0 so it will be whatever the default status for SPI is.

[2019-03-01 22:16] foxalabs commented on #3
the option screen does not tell me what it is, just if I would like to change it ... AHH OK, it offered me the option of NO ,, now I have selected NO it offers me YES as an option , so in answer , YES I had SPI enabled

[2019-03-01 22:56] EricHigdon commented on #3
@foxabilo Maybe make sure the pi user is in the gpio group?

`sudo adduser pi gpio`

[2019-03-04 03:07] targetdrone opened #4 "Schematic needed"
It would be helpful to have schematics to show how to hook up the types of LEDs supported.

[2019-03-04 03:40] EricHigdon commented on #4
@targetdrone I agree that some basic documentation could be helpful. For now, see my comment here:
https://github.com/EricHigdon/OctoPrint-RGB_status/issues/1#issuecomment-468421896

[2019-03-04 03:40] #4 closed

[2019-03-04 14:29] foxalabs commented on #3
ok, i'll give it a try

[2019-03-06 05:15] tedder commented on #3
Coming here to see if you were aware of the octoprint community forum, Eric, seeing the same error. Can you catch the error and fail gracefully, at a minimum?

Here's the user's log and a link to the discussion topic where you can see the difficulty of finding it.
[code]

and the thread: https://community.octoprint.org/t/server-quits-when-i-hit-print/8092/6

[2019-03-06 12:19] EricHigdon commented on #3
@tedder I am aware of the forum, but had not seen that thread. Thanks for the heads up. I pushed an update that will ensure initialization problems like this don't cause OctoPrint to crash.

[2019-03-06 19:00] foxalabs commented on #3
Sorry people, I am not being much help at the moment, I have a back log of prints to get done for customers, as soon as they are finished I will re-install and retest with the sudo adduser pi gpio

[2019-03-06 20:42] EricHigdon commented on #3
@foxabilio no worries. I’m fairly confident that the group thing is your issue as I was able to replicate the problem on my instance. 63d3ab2 Should also have a fix to fail gracefully and log the error when this happens.

[2019-03-08 19:24] #3 closed

[2019-03-08 19:28] EricHigdon opened #5 "Add support for heating progress animation"
Requested [here](https://community.octoprint.org/t/temp-controlled-leds/8044/2). Would be nice to see heating progress on the LEDs.

[2019-03-08 19:29] EricHigdon opened #6 "Add setup wizard"
The wizard needs to walk the user through the process of enabling SPI and adding the pi user to the gpio group.

[2019-03-09 14:16] THHL opened #7 "Update to V1.0.5 does not set new version correctly"
After installation, the information about the new version RGB Status: V1.0.5 pops up again and again. Reason seems to be that the upgrade sets the version to 1.0.4, so it is not correctly detected that the upgrade was already implemented on that system.

Output of "plugin_softwareupdate_console.log":

...
2019-03-09 01:57:30,111 > Collecting https://github.com/EricHigdon/OctoPrint-RGB_status/archi

[2019-03-10 15:33] marrobHD opened #8 "LEDs won't turn on."
My WS2812B, WS2812 and WS2811 LEDs won't turn on.

[2019-03-10 15:57] EricHigdon commented on #8
@marrodHD can you share your octoprint.log? That should give me some insight into the cause of the issue.

[2019-03-10 17:43] marrobHD commented on #8
There I have pasted the log: https://jpst.it/1DwHR

[2019-03-10 18:33] EricHigdon commented on #8
2019-03-10 17:57:14,555 - octoprint.plugins.rgb_status - ERROR - ws2811_init failed with code -11 (Selected GPIO not possible)

Seems relevant. What do you have the LED Pin setting set to?

[2019-03-10 19:25] marrobHD commented on #8
GPIO 13

[2019-03-10 19:32] marrobHD commented on #8
That are my settings:
![Screenshot_8](https://user-images.githubusercontent.com/29308361/54090353-9e70bf80-4373-11e9-90d2-13777b26a997.png)

[2019-03-10 19:39] marrobHD opened #9 "Add support for operational state animation/color"
Add support for operational state animation/color. I would make it if the printer prints from sd card. If the printer prints from sd card, octoprint sets the state to Operational.

[2019-03-10 19:47] marrobHD opened #10 "Add support for LED groups"
LED groups. I mean, for example if one has leds under the printer, above the printer and next to the printer and can divide them into the above-mentioned areas. The man then turns the LEDs under the printer and white next to the printer when the printer is printing and the above e.g. show the status of the printer (that's how it is now)

[2019-03-10 20:07] EricHigdon commented on #8
@marrobHD Try setting LED channel to 1 and restarting

[2019-03-10 20:18] marrobHD commented on #8
I have that before it won't work. Now the LEDs won't work like before.

[2019-03-11 01:35] EricHigdon commented on #8
Are you running OctoPrint as root?
And is there a reason you don’t want to use pin 10?

[2019-03-11 06:34] marrobHD commented on #8
I have installed octoprint on the sdcard directly. I have used the octoprint image.

[2019-03-11 06:35] marrobHD commented on #8
I think that it is root right? I can use pin 10.

[2019-03-11 10:01] EricHigdon commented on #8
OctoPrint does not run as root by default, and it is not recommended that you do so. If you have no other reason to use a different pin, I highly suggest sticking to 10.

[2019-03-11 10:15] marrobHD commented on #8
How can I run octoprint as root. How can I change that in the image that at boot octoprint automatically boot with root. Why then do not the LEDs work on the other?

[2019-03-11 10:27] marrobHD commented on #8
![](https://i.imgur.com/D48oIOE.png)

[2019-03-11 13:27] EricHigdon commented on #8
@marrobHD You probably shouldn't try to run OctoPrint as root ([see here](https://community.octoprint.org/t/starting-octoprint-with-sudo-as-root-tells-me-you-should-not-run-octoprint-as-root-why/230)).

In the image you attached, 13 would be the 4th pin from the bottom in the left column as we are looking at the BCM number.

I highly suggest switching to pin 10 since you wouldn't need to run as ro

[2019-03-11 15:00] marrobHD commented on #8
MOSI is pin 10 right?

[2019-03-11 16:07] EricHigdon commented on #8
@marrobHD Yes.

[2019-03-11 18:18] cryoplay commented on #8
Hello there.

I have the same Problem.
Hocked up my Strip to Pin 10.
Nothing Happens. Process turns on without a Problem but i had no light.

https://justpaste.it/6wnmc

[2019-03-11 20:01] EricHigdon commented on #8
@cryoplay From your log, it looks like everything is actually working on the software side. Do you have your LEDs attached to pin 10 and the ground pin on the pi?

[2019-03-12 05:24] marrobHD commented on #8
It's not working

[2019-03-12 05:59] cryoplay commented on #8
Hi Eric.

My Problem is gone.
I forgot to hook the Strip to the ground of the Pi.
Sry. im really dump.

Now all is working perfectly.

[2019-03-12 09:46] EricHigdon commented on #8
@marrobHD can you share your OctoPrint.log again?

[2019-03-12 15:50] marrobHD commented on #8
Here is my log: https://jpst.it/1DHLe

[2019-03-12 17:02] EricHigdon commented on #8
@marrobHD It still says the "Selected GPIO not possible" are you sure you changed it to pin 10 in the settings and restarted?

[2019-03-12 18:11] marrobHD commented on #8
Yes http://prntscr.com/mwy5qv

[2019-03-13 02:33] EricHigdon commented on #8
Is the spidev device visible on your machine?
Check using:
ls /dev/spidev0.*

[2019-03-13 21:39] marrobHD commented on #8
It is now working. I had to remove PSU control...

[2019-03-13 21:49] marrobHD opened #11 "Add support for MqTT control to control it via HomeAssistant"
Add support for MqTT control to control it via HomeAssistant. Please add a function to control the rgb strip via HomeAssistant. I think Mqtt is the easiest way to do it. That's a good code for Arduino. It's written in micropython. I think you can advertise yourself. https://github.com/CyanLabs/ESP-MQTT-JSON-Digital-LEDs/blob/master/ESP_MQTT_Digital_LEDs/ESP_MQTT_Digital_LEDs.ino

Thanks for your a

[2019-03-13 22:07] #8 closed

[2019-03-15 18:25] NeKoMuck opened #12 "Only 1st LED shows Print progress"
While using the Print Progress Function, only the first LED of my strip is changing the colour. All other 59 LED still using the base color.

All other Functions of the Plugin seems to be working.

[2019-03-15 18:55] EricHigdon commented on #12
@nekomuck can you please share your OctoPrint.log file?

[2019-03-15 18:58] NeKoMuck commented on #12
@EricHigdon Here it is...

[octoprint.log](https://github.com/EricHigdon/OctoPrint-RGB_status/files/2972508/octoprint.log)

[2019-03-16 00:02] NeKoMuck commented on #12
I'am using a WS2812B Stripe. LED type is set to WS2812, because there is no WS2812B option in your plugin. Maybe this is the problem ?

The octoprint.log seems to count more than the 60 LEDs, i have set. Is that correct ?

I have made a complete new installation of Octoprint and RGB Status, but the problem is still available.

[2019-03-16 15:41] EricHigdon commented on #12
Ws2812 should be fine. If the other effects are working, that’s certainly not the problem.

I’d guess it’s a problem with my algorithm. You have 60 leds? What happens if you set the number of leds to 10 in the settings?

[2019-03-16 16:28] Gwedo opened #13 "Help for installing LED"
How do I add a RGB ledstrip to my raspberry Pi 3B+??

[2019-03-16 16:54] EricHigdon commented on #13
@gwedo see issue https://github.com/EricHigdon/OctoPrint-RGB_status/issues/1

[2019-03-16 16:54] #13 closed

[2019-03-16 20:16] EricHigdon commented on #12
I've confirmed that this is not working properly for larger numbers of LEDs.

[2019-03-16 20:43] NeKoMuck commented on #12
Thank you for your Feedback. Good to know, its not my fault.
I hope you will find the problem. I appreciate your plugin.

Using only 10 LED works perfect:

![IMG-3218](https://user-images.githubusercontent.com/48601195/54481422-ada0b300-4834-11e9-8704-ea3803fbb6f8.JPG)

![IMG-3224](https://user-images.githubusercontent.com/48601195/54481913-7386df80-483b-11e9-9876-d23d2ba43c48.JPG)

[2019-03-16 22:00] EricHigdon commented on #12
This should be fixed with 7cfe918. Once I’ve done some more testing, I’ll release.

[2019-03-16 22:01] NeKoMuck commented on #12
It would be great, when the LED turn off after a (self)defined time, when the Job has finished.

[2019-03-16 22:03] EricHigdon commented on #12
@NeKoMuck when the print completes, the leds go back to the idle effect, so you could accomplish something like that by setting the idle effect to a solid color and the color to black.

[2019-03-16 22:13] NeKoMuck commented on #12
I set the idle color to solid black, but the LED still shining green. I will try it again tomorrow.

![idle effect color](https://user-images.githubusercontent.com/48601195/54482263-23ab1700-4841-11e9-82f6-a5e53b5aca91.png)

[2019-03-16 23:15] EricHigdon commented on #12
Fixed in 7cfe918

@NeKoMuck If you confirm that when your print is finished, the idle effect does not start, please open a new issue.

[2019-03-16 23:15] #12 closed

[2019-03-17 10:24] coldtobi opened #14 "Please support sending colors using M150 (Marlin)"
My LED strip is connected on my FYSETC, so it would be cool to control that one...
Of course, animations are hard there, but well, they are not that important.
Thanks!

[2019-03-17 16:12] NeKoMuck opened #15 "LED won´t go in idle Mode"
When print has finished and the last LED switches to the correct progress color, all LED going off for some milliseconds and then still shining in the progress color.

[octoprint.log](https://github.com/EricHigdon/OctoPrint-RGB_status/files/2975410/octoprint.log)

In logfile see lines 3307 - 3322

When Octoprint switches in line 3320 from "Finishing" to "Operational" the solid color will be killed

[2019-03-17 23:45] EricHigdon commented on #15
The error on 3311 is not related. It's a known issue with the tracking plugin if you have usage tracking disabled (see [here](https://github.com/foosel/OctoPrint/issues/2967)).

Lines 3309–3310 indicate that it changed to your idle effect after the 99% progress call.
Then on lines 3321–3322 it changed to 100% progress bar.

This means that OctoPrint actually triggered the PrintComplete hook before

[2019-03-17 23:57] EricHigdon commented on #14
@coldtobi This would be awesome. I wish I had a way to test. I may be able to do this if You or someone else can volunteer to test for me.

[2019-03-18 22:20] coldtobi commented on #14
I can help testing that. Just ping me ;-)

[2019-03-20 04:50] RootUser3885 opened #16 "LEDs stay white most of the time"
The LEDs stay white untill the server is used or reloaded. No matter what colors set, it seems to blip the idle effect.

![20190319_233128_1](https://user-images.githubusercontent.com/40777042/54659838-987c8c00-4aa1-11e9-8a69-77dd7f21318f.gif)

[2019-03-20 08:53] FlakJAG commented on #16
Mine do the same. They run constantly white at max brightness which makes them quite hot. They only show the selected color/animation for a second or two when you change settings or restart the pi. Running 16 WS2812B's on a Pi 3b.

[2019-03-20 16:35] #7 closed

[2019-03-20 16:38] EricHigdon commented on #16
@RootUser3885 @FlakJAG Can you please share you octoprint.log files?

Also, do you have any other information regarding this issue?
Does it happen as soon as the server loads, or after a print?
If you restart the server (or change the idle effect), does it start working again?
What colors do you have your progress bar set to?
Do you have any other plugins installed that might be trying to control

[2019-03-21 01:21] madmax2 opened #17 "Please show a video and pictures of this project in action"
Would be good if you can provide a video and pictures of this plugin running so we can see how it works.

Also as a side note
what is the benefit of the having RGB status indicators vs just looking at the LCD screen or octoprint terminal message?
Maybe adding some more info about the project benefits would be good..

And what does the different color indicators signal?
Please update the info page

[2019-03-21 05:40] FlakJAG commented on #16
[octoprint.log](https://github.com/EricHigdon/OctoPrint-RGB_status/files/2990884/octoprint.log)
Tried different animations/ solid colors and they all do the same thing. on reboot it shows the idle color for a bit. The start up color flashes on and then white 2 or 3 times. By that point Octorprint is fully loaded and it goes to the idle color again for 5-10 seconds and then just goes all white and

[2019-03-21 14:39] EricHigdon commented on #17
@madmax2 You're right. That would be cool. Once I get as many of the bugs worked out as I can, I might try to make a video.

To answer your side note question: It's cooler. JK (kind of), The LEDs are more visible from a distance, and you don't have to be logged in to the terminal to check the progress.

There are various effects available for various states of OctoPrint. You can choose which effec

[2019-03-21 14:39] #17 closed

[2019-03-21 14:49] EricHigdon commented on #16
@FlakJAG Your log looks fine. It should do the rainbow effect on server start, then changes to a solid color for the default idle effect. Can you share a screenshot of the RGB Status section of your settings dialog?

[2019-03-21 14:59] RootUser3885 commented on #16
It seems to only show color when the server is loading something, otherwise they stay white at 100%. It also does it on server startup but only for a fraction of a second. The LEDs I'm using are the ws2812 strip.
Any other information you need just ask, this is a really cool idea and I cant wait to see it 100% working.

[octoprint.log](https://github.com/EricHigdon/OctoPrint-RGB_status/files/29926

[2019-03-21 15:24] EricHigdon commented on #16
@RootUser3885 @FlakJAG I'm curious if you are both using the WS2812_STRIP LED Type?

Maybe that's the common factor that is having issues. Have you tried it with one of the WS2811 options selected?

[2019-03-21 15:31] RootUser3885 commented on #16
I don't have any WS2811 strips handy, It very well could be the issue. I think my friend might have some 11s. I will have to barrow some and try it. I wonder what makes them different?

[2019-03-21 15:50] EricHigdon commented on #16
@RootUser3885 Can you try one of the 2811 options using your 2812 LEDs? Perhaps WS2811_GRB?

[2019-03-21 15:53] RootUser3885 commented on #16
I'll give it a try, it's printing rn so it will be a while.

[2019-03-21 20:03] FlakJAG commented on #16
I tried a few different options the other day and specifically tried 2811grb again today, but I get the same results as before. I will order up some different LED's (2811's/6812's) for testing purposes. Also thought I should mention I'm running octopi_version: 0.14.0, not the latest version if it makes a difference or not.

[2019-03-29 09:45] redeye86 commented on #16
Hello!

I think I have the same issue. A few days back it worked flawlessly, but now i have exactly the same problems, also on ws2812b. At first i thought it had something to do with my self soldered gpio adapter board, which i tried out the first time yesterday. But to isolate problems i tried [ws2812-spi](https://github.com/joosteto/ws2812-spi) and it works without problems. I even tried to run

[2019-03-29 11:33] redeye86 commented on #16
I have tested a few things. First i added some logging in the rpi_ws281x.py to see the color values that are actually sent to the strip. And indeed there is no 255,255,255 or so sent to them. But the logging and tail -f-ing via ssh itself was a bit cpu demanding and the solid color setting worked while the logging was active, at the same time rainbow effects still did not.

Ultimatively i came to

[2019-03-29 12:15] EricHigdon commented on #16
@redeye86 thanks for the info. I could totally see a setup with a lot of leds and/or other plugins running having timing issues. Just to confirm: did you add `core_freq=250` to your boot/config.txt file?

[2019-03-29 18:10] redeye86 commented on #16
Sorry, you are right. I saw that hint in the instructions but when i configured my raspi 2 it was not relevant and i just didn't remember when i switched to rp3. At least it could give the others an idea what they can change.

Interestingly the ws2812-spi library does work without that setting, so maybe it is possible to make it work without that kernel parameter.

[2019-03-29 19:13] EricHigdon commented on #16
@redeye86 So if you set the core_freq to 250, then set the plugin frequency back to 80000Hz, do the LEDs work?

[2019-03-29 19:18] EricHigdon commented on #15
Should be fixed with a0bdf7d05e497f7a065cc5c62dc5c966c05af022

[2019-03-29 19:19] redeye86 commented on #16
Yes, exactly.

[2019-03-29 19:21] EricHigdon commented on #16
@redeye86 Awesome! That's good to hear. I'm slightly ashamed that I didn't think of that when this issue first came up. Thanks so much for your help in debugging. Hopefully it will work for @RootUser3885 and @FlakJAG as well.

In the long-term, I'm hoping to get #6 done so that I can walk users through that setup when the plugin is first installed.

[2019-03-29 20:25] FlakJAG commented on #16
Not having core_freq=250 was the problem, its working now. When I first set everything up I swear I added core_freq=250 to my boot/config, but I think I screwed up saving my changes. Wish I would of double checked that sooner. Thanks for the help guys. Looking forward to seeing this plugin expand, it has a lot of potential.

[2019-04-08 19:25] frakman1 opened #18 "[REQUEST] Ability to call a script at various points"
This is a great plugin to directly control a wired LED strip. It looks like it lets you select certain colors for certain stages of a print (startup, idle, progress)

It would be great if you could add the option to call  a script (or anything you can type at the terminal). This would allow for other devices to be controlled (WiFi Lights, Audio Speakers etc)
It would just be a string a parameter f

[2019-04-08 19:51] EricHigdon commented on #18
This can already be done with the built-in[ OctoPrint Events system](http://docs.octoprint.org/en/master/events/index.html).

[2019-04-08 19:51] #18 closed

[2019-04-08 19:52] #16 closed

[2019-04-08 19:58] frakman1 commented on #18
Thank you so much for this link!

[2019-04-12 22:12] p-funk opened #19 "Additional state indicators"
Would like to see support for error, pause and print complete.  Greatly helpful when using a single LED.

![IMG_2982](https://user-images.githubusercontent.com/2503330/56069072-4f8dbf80-5d4f-11e9-8ad0-df54c936dd91.jpg)

[2019-04-12 22:14] p-funk opened #20 "Additional effects"
Would like to see a pulse effect.

[2019-04-15 00:51] Tadimsky commented on #16
Just wanted to let you know that I had the same issue and after setting my `core_freq` to 250 on a Pi 3, it worked for me as well.

Love the plugin by the way, I was about to build something like it a few months ago but got distracted, now when I looked again you had one :D.

[2019-04-15 03:55] RootUser3885 opened #21 "Random Flicker"
Now that I got them working with the frequency fix, the LEDs will randomly flicker. It only flashes for an instant but enough to be annoying. Sometimes random LEDs are different colors than they should be. The flicker is rather spaced out, sometimes ever 5 mins, or up to 30 mins, making it hard to catch on video. Im using WS2812b strips of 72.
[octoprint .log](https://github.com/EricHigdon/OctoPri

[2019-04-16 22:57] EricHigdon commented on #21
Interesting. Did you also set your max buffer size? See https://github.com/jgarff/rpi_ws281x#spi

[2019-05-06 08:36] arminth opened #22 "Support WS2812B RGBW"
Hi,
today I tried to suse my WS2812B RGBW modules with the plugin.
They are working fine on arduino with Neopixel-library as RGBW.
But I cant find a ssetting, where they do as they are supposed to. Looks liek the 2811/12 only aims at RGB and not RGBW. 6812 RGBW is also not working.

Please add, if possible.

Cheers
Armin

[2019-05-11 21:48] JohnTRoth commented on #21
I also have this on occasion. I do have my buffer size set appropriately - but suspect it's actually interference with the cable between the RGB strip and the Pi. Moving to a better cable improved things but didn't totally eliminate the issue. Next step is to shorten the length.

[2019-05-11 22:12] EricHigdon commented on #21
@JohnTRoth, yes. Cable length can be a problem, because the LEDs work on a 5v signal, but the RaspberryPi only outputs a 3.3v signal. A shorter cable and/or a level shifter is probably necessary.

[2019-05-18 23:28] ArmandAgopian commented on #14
@EricHigdon I can test this, I am currently in the process of turning a massive print farm into LED stripped ones, this will help a lot!

[2019-06-10 16:08] Kolk123 opened #23 "cant get it to work"
hello.

if got a question. if installed the plugin, and enables spi.
i connect my ws2812b strip to the pi with port giopin 10.

what do i need to do more ? they dont work atm

Greetz Roy

[2019-06-10 21:02] EricHigdon commented on #23
If you've followed the directions [here](https://github.com/EricHigdon/OctoPrint-RGB_status/#running-without-root) then I would confirm that the wiring is all correct.

- [ ] Is the data line connected from GPIO10 (physical pin 19) on the Raspberry Pi to the data in of your LED strip (direction matters)?
- [ ] Is the ground pin of the LEDs connected to the ground of the power supply?
- [ ] How lon

[2019-06-11 06:48] Kolk123 commented on #23
hey Eric,

Thank you for the response.
i can confirm that im using the right pin. the 19e pin gpio10.
i've connected the ground pin to the powersupply and the arduino.
the wiring between the rpi and the leds are max 20cm.
i've tryed multiple led strips. when im testing it in my arduino led stair it works.

here is my log file.
[octoprint (7).log](https://github.com/EricHigdon/OctoPrint-RGB_status/

[2019-06-11 08:30] EricHigdon commented on #23
An Arduino is unnecessary. Try connecting the leds directly to the RPi.

[2019-06-11 11:37] Kolk123 commented on #23
dont used a arduino. I've tested it if my LEDs are working. If maked a mistake. I mean raspberry .

i've connected the ground pin to the powersupply and the raspberry

[2019-06-11 11:40] Kolk123 commented on #23
The LEDs are connected direct to the raspberry. It looks like the raspberry dont give any output on the gpio10.

[2019-06-11 12:39] EricHigdon commented on #23
Ok. Your log looks fine.

Have you set your [spidev.bufsiz and core_freq?](https://github.com/jgarff/rpi_ws281x/blob/master/README.md#spi)

[2019-06-11 13:33] Kolk123 commented on #23
Yes. I set it just like the tutorials. Can it be related to the newest octoprint update ?

[2019-06-11 15:31] EricHigdon commented on #23
Perhaps, though I would think that would cause errors in the log.

Just to confirm, you've restarted your pi since changing those settings and enabling SPI?

Also, which type of LEDs are you using? #22 seems to describe issues with some LED types

[2019-06-11 15:46] Kolk123 commented on #23
Hey Eric.

Thanks for responding!
Yes I've restart multiple times.
I enabled it in the config. And checked it in the log.  I'm using 5v ws2812b leds. Maybe is that the problem.

I dont have other leds available for testing.

Greetz,  Roy kolk

[2019-06-11 15:47] Kolk123 commented on #23
More detail. I'm using the rgb version.
https://www.aliexpress.com/item/32808513592.html?spm=a2g0s.9042311.0.0.27424c4dhVVlnP

[2019-06-12 15:57] EricHigdon commented on #23
Interesting. Those look very similar to the ones that I use. Maybe they aren’t working on 3v, and you need a level shifter.

Can you share a screenshot of your rgb status settings in OctoPrint?

[2019-06-12 16:29] Kolk123 commented on #23
no they working with 5v.
but i got the solution. i've swaped to another raspberry and this one works fine.
i thing one of the pie's are broken. thanks for you help :)

[2019-06-12 17:29] EricHigdon commented on #23
Awesome. Glad it’s working.

[2019-06-12 17:29] #23 closed

[2019-07-09 15:39] KSALPJan opened #24 "WS2812B WS2812 not working"
Hi I'm trying to get the WS2812 with my Raspberry pi 3B+ working. But my Raspberry pi 3B+ preferes to respond with the following answer (from the octoprint.log):

2019-07-09 16:17:02,785 - octoprint.plugins.rgb_status - ERROR - ws2811_init failed with code -11 (Selected GPIO not possible)
2019-07-09 16:17:02,788 - octoprint.plugins.rgb_status - ERROR - Error running effect: The strip object does n

[2019-07-24 13:21] kirax999 opened #25 "Turn of LED if not print"
Hi,

I am looking for how I can do to cut the led once the print finished and if no printing is in progress, I try to put the idl in color 0 0 0 but it remains in white light if I do not print.

What to do ?

Thank you for your work this is really good except segfault from time to time octoprint server x)

PS: I'm using Octoprint distribution

[2019-07-30 01:59] abkawula opened #26 "Hardware revision not supported"
I'm running this on a pi 4 and am getting the following log message (as well as nothing working):

`2019-07-30 02:56:43,198 - octoprint.plugins.rgb_status - ERROR - ws2811_init failed with code -3 (Hardware revision is not supported)`

[2019-08-06 17:49] cellfreak opened #27 "Can you add support for a WS2812B 5050 RGB 24 led ring?"
Here is the link below. The second link will run the 24 led perfectly off the Pi 3 using pin 18

https://www.ebay.com/itm/WS2812B-5050-RGB-LED-Ring-24Bit-RGB-LED-Integrated-Drivers-For-Arduino/201748593347?hash=item2ef9273ac3:g:gBwAAOSw241YU2w4&rmvSB=true

https://tutorials-raspberrypi.com/connect-control-raspberry-pi-ws2812-rgb-led-strips/

[2019-08-06 18:28] EricHigdon commented on #27
@cellfreak if the article you linked controls those leds, then so should this plugin. They both use the rpi_ws281x library.

[2019-08-06 18:30] EricHigdon commented on #25
This is a duplicate of #15.

[2019-08-06 18:30] #25 closed

[2019-08-06 18:31] #21 closed

[2019-08-07 01:03] cellfreak commented on #27
Your plugin does not work. I have the correct pins plugged in but the LED neopixel does not light up.

[2019-08-07 01:22] EricHigdon commented on #27
Ah, and it works with the tutorial you linked?

[2019-08-07 17:02] cellfreak commented on #27
I got it to work. But had to change the 1 to a 0 for pin 10. My PI3 started to drop the wifi connection. Thie RGB status was the only plugin I installed. I flashed a new Octoprint image with no plugins and the wifi stays connected.

[2019-08-07 18:21] EricHigdon commented on #27
@cellfreak If you mean that you changed the led_channel to 0, that is correct. In order to use pin 10 for RGB LED control, you should use led_channel 0.

As for WiFi issues, I highly doubt that this plugin is related. It has nothing to do with WiFi.

There are still a lot of things documentation wise that I need to improve with this plugin. It's a slow process right now with other job/life things

[2019-08-07 18:21] #27 closed

[2019-08-07 18:29] EricHigdon commented on #26
@abkawula I have acquired a raspberry pi 4, but have not even gotten around to taking it out of the box yet. I'll have a look at this eventually, but it may take a while—sorry!

That said, I think this issue will have to be fixed by the maintainers of https://github.com/jgarff/rpi_ws281x

[2019-08-18 19:42] tvixen opened #28 "Adding common LED strips"
Hi Eric
I saw your module introduction, on the Octoprint discussion group, and I think I have a idea for you. As this would probably be easy for you to implement.

Would it be possible for you to add 3 single color output (RGB) to 3 pins on the Pi, so every color has it's own pin ? (on/off)  In this way the status indication would work with LED strips too.

I know this code is for ws281x SPI, but

[2019-08-18 20:37] EricHigdon commented on #28
I thought about this. It would be a cool feature. PWM support would allow full color control (not just 7).

This is not going to be a high priority for me when I get back to this project though because there are other options for controlling regular LED strips. https://plugins.octoprint.org/plugins/ledstripcontrol/

[2019-08-18 23:43] tvixen commented on #28
Yes I saw that.
And, I did try it, but it doesn't seem to work with Marlin 2.0.x
I can send M150 code from pi to it (it works), but enabling the #define RGB_LED in the Marlin software, is not doing anything for the print event.

[2019-08-21 16:48] kzmodelno opened #29 "Neopixel and Level Shifting Chip"
Hello!

First time poster here.  I am new to Neopixels and the RPI in general, but I believe I have everything wired and installed correctly.  I am using a long strip of LED's (53 in total) in conjunction with this OctoPrint plugin and I cannot get the LED's to reliably produce color.  They will turn on and stay white, occasionally throwing color for a few seconds.  The colors seem to coincide wit

[2019-08-21 17:32] EricHigdon commented on #29
@kzmodelno welcome.

You shouldn’t have to do anything different if using a level shifter. Have you followed all of the steps in the running without root section of the readme? https://github.com/EricHigdon/OctoPrint-RGB_status/blob/master/README.md#running-without-root

[2019-08-22 19:12] kzmodelno commented on #29
Hi Eric,

Thanks for the quick reply! After following the detailed SPI section, things are working as expected.  I appreciate your time and the great plugin.  Thanks!!

[2019-08-22 19:12] #29 closed

[2019-08-31 18:47] #24 closed

[2019-09-06 21:08] EricHigdon commented on #6
This is done as of 2a2f85da40db0c5fcb7c4688e5b8e97a587a794c

[2019-09-06 21:08] #6 closed

[2019-09-06 21:16] #15 closed

[2019-09-06 21:21] EricHigdon commented on #20
I'm also considering a "Nightrider" effect.

[2019-09-06 21:58] EricHigdon commented on #20
Added pulse effect in 2ea045d

[2019-09-06 22:11] EricHigdon commented on #20
Added Knight Rider effect in 37a5139

[2019-09-06 22:11] #20 closed

[2019-09-07 03:52] EricHigdon commented on #10
I like this idea, but it will require a bit of reworking the effect code to support multiple processes. Right now it only supports spinning up one background task, and this would need to allow for a potentially unlimited number. I'm not sure how that would work performance-wise on a raspberrypi.

[2019-09-07 03:53] EricHigdon commented on #5
This one will probably need to wait for #10 to be completed.

[2019-09-07 03:54] EricHigdon commented on #9
@marrobHD Can you explain this a little more? I'm not sure I understand the difference in this and the idle effect options that already exist.

[2019-09-07 04:41] EricHigdon commented on #19
Was able to get this into 1.5 with c85266b

[2019-09-07 04:41] #19 closed

[2019-09-07 05:13] EricHigdon opened #30 "Add Raspberry Pi 4 support"
rpi-ws281x 4.2.0 supports the Raspberry Pi 4, I'll need to upgrade that dependency, then test everything on a 3 and a 4.

[2019-09-09 21:07] CpHarding opened #31 "Add "off" mode for states"
I would like to not use the idle colour, as my octoprint will be on most of the time, however I can't see a way to just use some of the states.

[2019-09-09 21:09] EricHigdon commented on #31
@CpHarding you can set the idle effect to “solid color” and the idle color to black. That will cause the LEDs to be turned off when the printer is idle.

[2019-09-09 21:09] #31 closed

[2019-09-23 08:37] cs2000 opened #32 "Setup Wizard appears every time i visit the Octoprint page"
Not sure if this one is just me or... but since upgrading recently to the new RGB Status version that has the rather nice setup wizard, i cant seem to get it to go away!

I performed all the steps it wanted me to, and have green ticks by them all, but every time i access the Octoprint admin page, the setup wizard comes back up again. Its still all green ticks, i just have to press finish and it go

[2019-09-23 12:28] EricHigdon commented on #32
Interesting. OctoPrint is supposed to be handling the hiding of the wizard if you’ve already completed it, I’ll have a look.

[2019-09-23 14:02] cs2000 commented on #32
Appreciate it, if you need any logs etc, let me know, happy to provide.

[2019-09-23 22:31] EricHigdon commented on #32
I think this is a bug in the current version of OctoPrint (1.3.11). It will be fixed in 1.3.12, but until then, you should be able to fix it by holding shift while clicking the refresh button in your browser.
https://github.com/foosel/OctoPrint/issues/3211

[2019-09-23 22:31] #32 closed

[2019-09-26 22:10] cs2000 opened #33 "Reverse LED Direction & More"
Not an issue, more of a suggestion, or two!

1. Provide an option for the “print status” lighting mode to reverse the direction of the progress bar.

In my setup, the strip wires come in on the right hand side, meaning the progress changes from right to left rather than left to right.

I know that for some people, just swapping the led tapes mounting direction may be easy to do, in some cases howe

[2019-09-28 21:58] CpHarding opened #34 "Effect Delay?"
What is the effect delay supposed to do?

My guess should be that after <delay> minutes the effect should be cleared, and it goes back to idle state?

It doesn't appear to have this behaviour though. so what is the purpose of the effect delay?

[2019-09-29 01:40] EricHigdon commented on #34
The delay is used between the individual frames of the effects.

Perhaps a better name for it would be “effect speed”

[2019-09-29 01:44] EricHigdon opened #35 "Change “effect delay” label to “effect speed”"
The term “effect delay” is a little ambiguous. The setting label should be changed to “effect speed (if applicable)” (see #34)

[2019-09-29 01:44] #34 closed

[2019-09-29 01:45] EricHigdon commented on #33
These are some good points. I’ll consider these for v. 2.0.

Thanks for the encouragement and suggestions!

[2019-10-15 06:32] Snille opened #36 "Support for LPD8806 Led strips..."
Hi! I'm sitting on a bunch of LPD8806-strips. Is there anyway to be able to control these somehow? Or maybe add support for them? :)

Thank you!

Best regards Erik

[2019-10-16 16:30] Arti4ever opened #37 "[Feature request] : Add duration for Print Finished/Failed Effects"
Currently when a print finish, the print finished effect last for ever even if the status of octoprint is operationnal.

[2019-10-19 05:38] joeynuggetz commented on #30
So should one expect that the RGB status doesn't work on a pi4? I've been trying all night to get it to work. Same connections/settings as pi3 and on Pi3 the led ring works flawlessly but I get nothing on my pi4.

[2019-10-19 11:47] EricHigdon commented on #30
I have a rpi4, but haven’t had a chance to install OctoPi on it yet. You could try manually upgrading the rpi-ws281x package on your machine. It may work out ok.

[2019-10-19 15:40] joeynuggetz commented on #30
I upgraded rpi-ws281x via pip to latest and it seems to light them up now but they dont appear to be lighting up correctly. Stays mostly white and ocassionally blips to idle color when I change settings but progress or anything else doesn't appear to be working.

[2019-11-02 14:01] Snille opened #38 "Two WS2812 Strips..."
Hi, I'm trying to set up two WS2812 strips (for two instances of Octoprint) on a Raspberry Pi 3+. The first one uses SPI0 (BMC 10 and works), the other one I would like to add to SPI1 (BMC 20).

I'm running Octopi (so user pi is in the GPIO-Group). Both SPI interfaces are enabled. I can see them in /dev

pi@octopi:~ $ ll /dev | grep spi
crw-rw----  1 root spi     153,   0 Nov  2 13:12 spidev0.0
cr

[2019-11-03 01:06] EricHigdon commented on #38
Am I understanding properly that you are running two instances of OctoPrint on the same RaspberryPi? If so, you will have to use SPI for one instance and PWM for the other (or PWM for both). SPI is a kernel level driver that can only be used by one process at a time.

As for specifying LED groups, I have issue #10 slated for version 2.0 which may address that.

[2019-11-03 06:45] Snille commented on #38
Hi, yes, you are correct. I'm running [two instances](https://www.youtube.com/watch?v=7Saa1HpLRoM) of Octoprint on the same PI, you can do that without any problem. Each instance gets it's own settings. I have set the pins to 10 in the first instance and 20 in the other... :) However, I'll try the PWM-path. Can WS2812 strips be controlled with PWM even?
Anyway, thank you!

I'll let you know if it

[2019-11-06 21:02] Snille commented on #36
Oh, found this: https://github.com/Sh4d/LPD8806
Maybe it can be "included" some how to add support for LDP8806. :)

[2019-11-06 21:41] EricHigdon commented on #36
Yes. I was considering something like that, but have to decide if I want to add more dependencies, or if there’s a better way.

[2019-11-09 19:26] matzepfaff opened #39 "GRBW richtig anschließen"
Hallo zusammen,

ich steh aufm Schlauch. Ich habe einen GRBW-Streifen. Aber wo kommt jetzt welcher PIN bei den GPIO hin? Das schwarze Kabel kommt auf die +12V. Aber die Farben GRBW kommen an welche Pin's?

Danke für Eure Hilfe
Matze

[2019-11-10 02:16] EricHigdon commented on #39
It sounds like you may have a “dumb” led strip. This plugin currently only supports “smart” strips that are individually addressable.

[2019-11-10 02:16] #39 closed

[2019-11-13 16:10] Rexima opened #40 "WS2801 Support"
Is it possible to add WS2801 Support into this plugin?

[2019-11-13 16:57] orgalinq opened #41 "Reset to idle after print cancel"
It would be better and nice if the status leds (maybe after an adjustable delay) return to Idle after cancelling a print.

(The plugin can very good to be used to light the bed during a print. This works excellent!)

Kind Regards,
Wallgarden

[2019-11-13 17:32] EricHigdon commented on #41
Covered in #37

Thanks!

[2019-11-13 17:32] #41 closed

[2019-11-18 08:04] Grk093 opened #42 "Configuration/pins"
Hi,

First of all, thanks for the amazing plug in, it should be of one "must have" for Octoprint.
I'm would like to ask, a lame question, but how the led strip should be connected to raspi? I mean, I have WS2812B LED strip with five wires. I would like to connect it to raspi 4 (3, 4 or 5 LEDs). How the wiring should be done?

I should cut the plug and connect it like this?
[https://tutorials-raspb

[2019-11-18 11:58] EricHigdon commented on #42
If you truly have ws2812b LEDs, then you should have only 3 wires (vcc, gnd, and data in). I’m which case, the first image you linked is correct.

[2019-11-18 12:55] Grk093 commented on #42
Thanks for the answer. This means, I have to cut the plug.

I have these ones: [https://www.aliexpress.com/item/32337440906.html?](url)

[2019-11-18 14:07] EricHigdon commented on #42
Right. You could cut the plug off, or you could get another plug to attach to the RPi. Up to you.

[2019-11-18 14:07] #42 closed

[2019-11-20 09:48] Timwun commented on #30
Same here with a RPi 4.

Get `octoprint.plugins.rgb_status - ERROR - ws2811_init failed with code -3 (Hardware revision is not supported)` in the logs.

[2019-11-20 22:59] devildant commented on #30
it's a problem with the SPI, when running in an independent script on the GPIO 18 there is no problem.
but as soon as the SPI (gpio 10) is used, the led switch between color and white between each call.
rpi_ws281x 4.2.2

[2019-11-25 15:40] Kedryn commented on #30
I've an RPI 4 with octoprint and Enclosure. Testing a 16led circular WS2812,  on GPIO14 and GPIO18, and isn't working. All i get is the first led->green, all others->off

[2019-11-29 17:05] mikekscholz commented on #42
the extra 2 wires are most likely just extra 5v and ground wires for connecting extra external power.

[2019-11-29 17:33] mikekscholz opened #43 "N channel mosfet usage"
Ive been searching for days about the proper way to do this and everything I find is counter intuitive and seems like it would fry my pi if I tried it. Logically I think that +5v should be connected to drain, GPIO 10 connected to gate, and source connected to DI on the led strip. If im wrong what is the proper way to do this because buying a bidirectional logic shifter seems overkill when I only n

[2019-11-29 19:02] EricHigdon commented on #43
my first suggestion is always to try it without using a level shifter. The 3.3v has always been enough for me to drive my LEDS unless they were > 15’ from my RaspberryPi.

Checking if 3.3v input works for something that is expecting 5v shouldn’t really have a chance of burning anything up, so it’s always worth a shot.

A mosfet on the data line *might* work. I think the proper wiring would be:
5v

[2019-11-29 20:11] mikekscholz commented on #43
thats my only experience with them so far as well. Im not getting any activity on my strip so I connected my leads to a itsybitsy m4 that has a 5v output to make sure I didnt damage any of my wiring and they work fine, and I double checked that I made all of the changes in the spi section of the ws281x lib page so the output voltage is the only thing I can assume is still not correct and my wiring

[2019-11-29 20:40] EricHigdon commented on #43
Ah. That background info is helpful. Now that I’m thinking about it, I’m not sure if a mosfet will work the other way. Are you getting any errors in your OctoPrint.log?

[2019-12-01 03:14] mikekscholz commented on #43
Never thought to check the logs, never had a reason to yet. My SPI was failing to initialize and no matter what I couldnt get it started. I flashed a fresh copy of octopi onto one of my rotating backup cards and did the same config over again and the lights fired up as soon as I installed the plugin without even needing to configure any other settings

[2019-12-01 03:14] #43 closed

[2019-12-05 23:42] redeye86 commented on #30
I had the same white-with-occasional-colorful-flashing-issue when i changed from a 2 to a 3. As I just put the sd card to the new pi, i didn't read the installation instructions of rpi_ws281 which mention that you have to change the core frequency (see https://github.com/jgarff/rpi_ws281x#spi). I guess you have to adjust them again for the pi 4.

[2019-12-12 06:54] welir opened #45 "Is it compatible with Orange Pi zero ?"

[2019-12-12 11:51] EricHigdon commented on #45
Probably not as the underlying library rpi_ws281x only supports the official RaspberryPi boards.

[2019-12-12 11:51] #45 closed

[2019-12-19 07:00] j0shm1lls opened #46 "[Feature Request] Add Manual On/Off toggle for LEDs"
Love the plugin!  Just hoping to get more control by perhaps adding a manual on/off toggle to the sidebar or perhaps on the control page.

Thanks!

[2019-12-30 02:32] derivmug commented on #30
I am also facing this issue. I could maybe have a look into this however I haven't developed any OctoPrint plugins before. Over at the rpi-ws281x repo there seems to be a temporary [solution](https://github.com/jgarff/rpi_ws281x/issues/384). I might try it in the following days.

[2019-12-30 03:25] EricHigdon commented on #30
@derivmug thanks. My time and LED resources are currently devoted to my Christmas display. I will shift focus back to this plugin soon, hopefully.

[2019-12-31 15:05] Wummeke commented on #46
I just was about to post this request too :)

[2020-01-19 15:37] BayHarborProjects commented on #30
Hope you enjoyed christmas and coming good to 2020.
I tried to change the dependency on my own, but just changing the required version number wont fix it at all :( but i'm not too much into this to get it working for me. Spend already a few days without success :(
So i hope you'll find some time to get it up running on the pi4.

[2020-01-21 02:34] EricHigdon commented on #30
I upgraded the required version of rpi-ws281x to 4.2.3 (latest) which is supposed to include support for the Raspberry Pi 4. Have not tried finished installing OctoPi on my rpi4 yet, but an initial look seems like the problem reported by some here may be reported here: https://github.com/jgarff/rpi_ws281x/issues/381

[2020-01-21 03:57] EricHigdon commented on #30
Once I got my new rpi4 up and running with OctoPi, everything is working fine (with the updated rpi-ws281x dependency). [Version 1.6.0](https://github.com/EricHigdon/OctoPrint-RGB_status/releases/tag/V1.6.0) officially supports RaspberryPi 4B.

Anyone still experiencing issues, please double check the [Running Without Root](https://github.com/EricHigdon/OctoPrint-RGB_status#running-without-root) s

[2020-01-21 03:57] #30 closed

[2020-01-21 04:03] EricHigdon commented on #35
Resolved in 3f5581f

[2020-01-21 04:03] #35 closed

[2020-01-21 04:06] EricHigdon opened #47 "Add Plasma effect"
It'd be cool to have a plasma effect. https://rosettacode.org/wiki/Plasma_effect#Python

[2020-01-21 19:18] Gnizten opened #48 "Newly installation on RP4b"
Installed the latest update, that was compatible with RP4.
Could not get the plugin to work before, but now there is life.
But i experience some issues, and i dont know if this is normal behavior.

Im running the WS2812w strip on the pi, and heres what happening.

-When idle/octoprint idle, the LED strip is white.
-When printing and configured to show print status, the status is showing, but the l

[2020-01-21 20:05] EricHigdon commented on #48
@Gnizten that sounds a lot like a timing issue. Did you set the core frequency?

[2020-01-21 21:03] BayHarborProjects commented on #48
I tried the new version too. Thank you a lot to put effort into this again @EricHigdon !
But it seems to me that he is playing the pattern and after playing it once, switching back to just white. I think this should be running in a loop.

Whats curious to me, that the WS2811_STRIP_GBR is preselected, whats fine. But it seems that there is no difference in selecting the WS2812_STRIP, what i think y

[2020-01-21 21:15] EricHigdon commented on #48
@dexer12 Can you share your OctoPrint.log file?

[2020-01-21 21:25] BayHarborProjects commented on #48
The hint with the core_freq was good. I took some research and it looks like the PI4 is ignoring this setting in the /boot/config.txt. Dont ask me why.
I found an issue somewhere else, where the core_freq was locked down to 250, because there was an entry in the /boot/config.txt called enable_uart=1 .
I now added this entry and the LEDs are working like expected. So i think, now the core_freq is r

[2020-01-21 21:47] EricHigdon commented on #48
@dexer12 oh. That sounds really familiar. Thanks for the info.

[2020-01-22 02:45] Scope666 commented on #46
This would be AWESOME.  This plug-in rocks already, and has saved me from repeatably fighting with Marlin / BTT's horrible Neopixel fork... this just works!

[2020-01-22 06:35] BayHarborProjects commented on #48
I need to check this as soon as i get some time to. But is it really neccessary to set the core_freq?
As i played with plugin and the rpi_ws281x library the test script from the library seems to work fine, as i might know now, the core_freq=250 settings didn't do anything.
But i really need to check if it was working 100% or just run into the same issue.
Just trying to understand these things and

[2020-01-22 12:16] EricHigdon commented on #48
It is necessary to set the core frequency to 250MHz. Otherwise the timing is not consistent and you get things like the white flashing described here.

According to the [UART docs](https://www.raspberrypi.org/documentation/configuration/uart.md), setting enable_uart_1 also sets core_freq=250. So if you did that, you don’t need the explicit core_freq setting.

[2020-01-22 12:43] drewzh commented on #33
Hi @EricHigdon, I just bumped into the same issue with the LED direction. Have you had any time to work on this? Thanks

[2020-01-22 12:52] drewzh opened #49 "Ability to 'reserve' LEDs wired in series for distinct behaviour"
Use case: To have an additional X LEDs wired in series, reserved for certain statuses, such as probing or errors scenarios etc, but default to white at other times (or even for starters, to be reversed for just white at all times and not be affected by neighbouring effects).

I have a bar of LEDs across the top of the printer and it would be nice to be able to wire in series, an extra for e.g, 3 L

[2020-01-22 12:59] drewzh commented on #46
I think expanding this to a few utility functions would be very handy for testing effects and that you've got everything setup correctly. It's quite cumbersome to keep going into settings, changing idle to X and then hitting save, to then have to go through the same routine again to test another colour.

Or better yet, add a special Gcode hook to listen for gcode events (and then the custom button

[2020-01-22 13:08] drewzh commented on #5
@EricHigdon Just having the ability to set the current set of LEDs to BLUE (arbitrary colour) and then slowly cycle through to RED (arbitrary colour), then switch the 'printing status' setting once heated would be very welcomed personally. And if the hotend is heating without 'printing', then the LEDs should remain on the 'heated' colour (i.e, RED). Thanks

[2020-01-22 13:29] drewzh commented on #10
Would this actually need to be treated as a separate 'process' as such - could the same process just not be chunked into logical groupings - so for e.g, each 'group' would just be a higher level grouping of LED offsets and each group would have a 'next tick' logic which outputs it's next set of LED statuses based on the effect chosen for that group. Then for each cycle, each group output would be

[2020-01-22 13:41] EricHigdon commented on #10
@drewzh that is an option, but I think I would prefer to keep each group as it’s own process. That way only one effect is running per process. It would just be simpler to manage the different effects that way.

Your proposal would also mean that if group 1 were 1,000 pixels long, group 2’s performance may suffer. That’s not likely to be a problem with the currently available effects, but could bec

[2020-01-22 13:45] #26 closed

[2020-01-22 13:52] EricHigdon commented on #40
This may be doable using https://github.com/adafruit/Adafruit_CircuitPython_WS2801/blob/master/examples/ws2801_simpletest.py

[2020-01-22 13:56] EricHigdon commented on #49
This is for sure going to be covered by #10. This is actually the primary way that I would use the LED groups. That way I could have a heating effect on a single LED that I want to mount on the hot end.

[2020-01-22 13:56] #49 closed

[2020-01-22 15:41] Scope666 commented on #46
If it could "listen" for gcode M150, or something else that we could send, we could leverage Custom Control Editor to make preset buttons.  That's what I was doing when I was directly in the Neopixel port of the SKR.

[2020-01-22 17:52] Gnizten commented on #48
Hi Eric. I could not answer this earlier. No i did not set the core freq.
because i thought that the installation of the plugin took care of this. I
can see in the last post, that i just need to add /boot/config.txt called
enable_uart=1, which I will try out tonight.

Are we sure that setting core freq to 250, will not slow down the
performance of Octoprint in general?

Den ons. 22. jan. 2020 kl.

[2020-01-22 18:45] Gnizten commented on #48
Geniously... Now all is working as expected, as for what i have seen until
now. Thanks for now.

Br Tom

Den ons. 22. jan. 2020 kl. 18.52 skrev Tom Schou Larsen <
tlarsen@drosselvangen.dk>:

[2020-01-22 22:17] EricHigdon commented on #48
@Gnizten Awesome. Glad it's working out for you.

As for your performance question, the name `core_freq` is a bit misleading. That setting is actually changing the GPU core frequency, not the CPU core frequency (which is set with arm_freq).

Changing the GPU frequency could affect the CPU performance because it also controls the memory bus, but the difference on the pi2 and up is minor.

That said

[2020-01-22 22:23] #48 closed

[2020-01-22 22:24] EricHigdon opened #50 "Consider Replacement for core_freq=250 Setting on Raspberry Pi 4"
On the pi4, a core_freq value of 250 is ignored, because the only accepted options are 500 (default) or 600. The enable_uart=1 setting is a workaround, but I'm not sure I want to build that into the setup wizard since it is a bit hacky.

[2020-01-22 22:41] EricHigdon opened #51 "Add sidebar control UI to test effects on demand"
- @drewzh

[2020-01-22 22:46] EricHigdon commented on #46
This is going to be a global on/off button that goes in the navbar.

I like the idea of a controller UI that allows you to test effects on the fly. I created #51 to handle that though.

I don't think M150 gcode is the right way to do this as it is only intended to support a single LED, except where RepRap kind of hacked dotstar support in. https://reprap.org/wiki/G-code#M150:_Set_LED_color

[2020-01-22 23:42] EricHigdon opened #52 "Add ability to kill an effect part of the way through it's iteration"
Right now, killing an effect waits for it's iterations to be over before terminating. If I pass the queue down to the effect functions, I should be able to exit the effect early.

[2020-01-22 23:45] EricHigdon commented on #52
Done in eea50e4

[2020-01-22 23:45] #52 closed

[2020-01-22 23:45] EricHigdon commented on #46
Done in c612e5f

[2020-01-22 23:45] #46 closed

[2020-01-23 00:58] EricHigdon opened #53 "Add a minimum startup effect time"
#52 means that the startup effect could last as short as a single frame. There should be a setting to set a minimum number of seconds that the startup animation should play.

[2020-01-23 01:42] EricHigdon commented on #33
1. is handled in 4ec7682

2. will be covered by #37

[2020-01-23 01:42] #33 closed

[2020-01-23 06:30] BayHarborProjects commented on #50
I already found some information, where it seems that the Pi4 is underclocking the core_freq to 200mhz when in idle mode. I could not test it yet, but i would give this a try:

core_freq=250
core_freq_min=250

As far as i understood what i've found. the core_freq=250 sets the core freq correctly but regarding the other behaviour of the Pi4 it will use a core_freq of down to 200 while being idle.
S

[2020-01-23 11:46] EricHigdon commented on #50
@dexer12, can you share links to the docs where you found this info?

[2020-01-24 11:12] BayHarborProjects commented on #50
I first found it here:
https://github.com/raspberrypi/linux/issues/3381#issuecomment-568546439

And in the documentation from raspberry here:
https://www.raspberrypi.org/documentation/configuration/config-txt/overclocking.md

where you could see that the core_freq changes for example when enableing 4k 60 FPS Hdmi Mode.

[2020-01-30 09:25] NickOne81 commented on #23
Hi there,
I also connected the WS2812 to the Raspberry with an additional power supply, but unfortunately nothing happens. But when I run it via Python script, it works fine. I connected it to the GPIO 18 and also set it up under the Octoprint plugin. Could someone help me with that?

[2020-01-30 09:57] EricHigdon commented on #23
@NickOne81 GPIO 18 requires root access to control. You can either run OctoPrint as root, which is strongly discouraged, or use GPIO 10.

[2020-01-30 10:12] NickOne81 commented on #23
Hi EricHigdon, yes, I also just read. I now have it on GPIO 10. Unfortunately it still doesn't work. I also activated SPI and buffer size and core frequency also fit. What could not fit there?

[2020-01-30 11:44] EricHigdon commented on #23
@NickOne81 does the python script that worked with GPIO 18 work with GPIO 10 now?

[2020-01-30 11:49] NickOne81 commented on #23
No, unfortunately not. If I change the script to GPIO 10 it no longer works.

[2020-01-30 11:50] EricHigdon commented on #23
Are you on a Raspberry pi 4?

[2020-01-30 11:52] NickOne81 commented on #23
No. I have a Raspberry Pi 3 Model B.

[2020-01-30 15:12] EricHigdon commented on #23
Did you use the wizard to change the buffer and core_freq settings?

[2020-01-30 16:13] NickOne81 commented on #23
Yes, I made these settings using the wizard. The values ​​are also correct in the cmdline and in the config.

[2020-01-30 19:01] EricHigdon commented on #23
Interesting. Try adding enable_uart=1 to config.txt.

[2020-01-30 20:11] NickOne81 commented on #23
Now I have found out what it is. An LCD display is connected to my Raspberry. If I take out the values ​​in the config for the display then the LED strip works.

dtoverlay=ads7846,cs=1,penirq=25,penirq_pull=2,speed=50000,keep_vref_on=0,swapxy=0,pmax=255,xohms=150,xmin=200,xmax=3900,ymin=200,ymax=3900

[2020-01-30 21:04] EricHigdon commented on #23
That would explain it. The LCD probably uses the SPI pin.

I think your option moving forward from here then is to go back to GPIO 18 and run OctoPrint as root. I did confirm that it worked in the past, but be careful. https://community.octoprint.org/t/starting-octoprint-with-sudo-as-root-tells-me-you-should-not-run-octoprint-as-root-why/230

[2020-02-01 15:49] EricHigdon commented on #47
Added in aa27d7b

[2020-02-01 15:49] #47 closed

[2020-02-04 06:37] edsai commented on #48
I attempted the enable_uart fix and the LEDs did the rainbow startup a few times and then shut off. Without it they would do the same white flashing behavior. I do have the enclosure plugin installed before and I'm not sure if there's some dependency conflict that happens when enable_uart is configured. I noticed in the other issue you mentioned to run the setup wizard again but I'm not sure how t

[2020-02-04 11:18] EricHigdon commented on #48
@edsai Can you please share your OctoPrint.log?

[2020-02-04 14:07] edsai commented on #48
Sure. Here you go.
[octoprint.log](https://github.com/EricHigdon/OctoPrint-RGB_status/files/4153852/octoprint.log)

[2020-02-04 20:06] edsai commented on #48
For some reason it's working now. I rebooted multiple times after making my settings changes to try to get it to work. I didn't do any updates but I was showing my daughter the other octoprint enclosure work I had done and all of the sudden the LEDs were working.

[2020-02-05 09:38] Gifford47 commented on #16
the same problem appears to occur again with rpi4. i have now set core_freq=500 for me, but no change, the leds glow white all the time. any advice?

[2020-02-05 09:42] Gifford47 opened #54 "RPI4: LEDs stay white most of the time"
This was the first issue:
[#16 ](https://github.com/EricHigdon/OctoPrint-RGB_status/issues/16#issue-423065547)

the same problem appears to occur again with rpi4. i have now set core_freq=500 for me, but no change, the leds glow white all the time. any advice?

[2020-02-05 11:14] EricHigdon commented on #54
Try adding enable_uart=1 to config.txt

[2020-02-05 13:04] Gifford47 commented on #54
great, thanks a lot! it works!
but after shutting down octoprint the leds change to white and stay on... thats another problem

[2020-02-05 13:04] #54 closed

[2020-02-05 13:21] Gifford47 opened #55 "wipe color after octoprint shutdown"
the problem: after octoprint shutdown the last effect is killed but the leds remain white.
a fix would be: wipe color after shutdown event

[2020-02-09 16:06] Gifford47 commented on #55
ok, i have tried several times, but i couldn't figure out why the leds don't turn off. either on direct startup or on shutdown. the problem is that the white color needs the most current and therefore the pi registers voltage problems on startup.

recently i tried the following without success:
[code]

does anyone have any idea why the color wipe is not being performed?

[2020-02-09 16:46] EricHigdon commented on #55
@Gifford47 see my comment on your pull request (#56). color_wipe is not a method on the plugin class. You should use self.run_effect() with the necessary parameters.

Edit: wow, I read your code snippet wrong. The code above should work fine. I’ll have to look into it.

[2020-02-18 06:24] clevere12 opened #57 "WS2812 (Adafruit Neopixels) cannot work on GPIO18 (pin 12)"
Works on GPIO10, but the LEDs do not show accurate color, however when tested using the Adafruit libraries, the LEDs show accurate color just fine on GPIO18 (pin 12).

It would be nice to be able to use PWM on GPIO 18. I know it requires root, but there seems like there could be a way to make it work. If anyone knows how ...

[2020-02-18 11:11] EricHigdon commented on #57
@clevere12 what do you mean by accurate color?

You can use PWM on GPIO 18. You just have to run OctoPrint as root, which is not recommended.

[2020-02-18 15:24] clevere12 commented on #57
Color accurate meaning, on GPIO18, Red is red, green is green, orange is orange, etc. Using GPIO10, Red is more of a pink, Orange is some off-white color, blue is more of a light blue.

Yes, I don't want to run it as root, but this octoprint is running off. the octopi image and not available to the outside world, so technically it could be run that way, don't want it though. Seems like there shoul

[2020-02-19 05:55] clevere12 commented on #57
I wonder, could control of GPIO18 be had by adding a sudo command option to the program? I was looking at an enclosure plug in with this option... just trying to figure it out and I appreciate your help and your creation.

[2020-02-21 18:15] Soulofdestiny commented on #16
I had the same issue, so I want to share how I solved it. When I moved the `cpu_freq=250` out from the `[all]`section into the general one, it worked for me

[2020-02-29 20:42] clevere12 opened #58 "WS2812 GRB setting?"
Hi,

I have the ADAfruit ADA1416 Neo pixel strip. Looks like it is setup as GRB and not RGB. It is a WS2812B strip and in the setting option that isn't an option for GRB, could this be added?

[2020-02-29 21:10] EricHigdon commented on #58
@clevere12 Try the WS2811 GRB strip type.

[2020-02-29 21:23] clevere12 commented on #58
I did, oddly enough, the colors weren't right. I switched it out to the SK6812 GRBW and the colors seem correct. I have 3 LEDS and they are showing Red, Blue Green now, which is a plus over Redish Yellowish and blue

[2020-03-09 12:49] redeye86 opened #59 "Constant 40% CPU Load when Plugin is running while OP is idle"
Hi,

I recently upgraded to octoprint 1.4 and do not know if the problem existed before, but on my raspberry pi 3 I see a relatively constant cpu usage of around 40% for one sub-process when octoprint is running (printer not connected and not even powered).

I straced this process and I think I see repeated polling of the system clock

`clock_gettime(CLOCK_MONOTONIC_RAW, {tv_sec=264694, tv_nsec=40

[2020-03-15 15:53] JohnTRoth opened #60 "Unable to get running after updates"
I've been using this plugin for about a year, but recently upgraded the plugin and OctoPrint, then suddenly found it no longer loading at all. I was initially getting:

So after some searching, recompiled and reinstalled the rpi_ws281x library. That got it to the point where the plugin will load, but fails to initialize with:

I'm able to run /home/pi/rpi_ws281x/python/examples/lowlevel.py under b

[2020-03-16 06:42] valurian opened #61 "Raspberry 4 rgb status problem"
I have a Raspberry 4 with Octoprint and I want to use some plugins (RGB Status) to handle a strip of 26 LEDs ws2812B.

 I connect the power to the Raspberry (in the future to a power supply) and the Din cable from the strip to pin 19 gpio 10 as indicated by the plugin.

 I have activated SPI in sudo raspi-config
 And user Pi
 I checked the core_freq and it is at 250

 The strip lights up white and

[2020-03-16 10:34] EricHigdon commented on #61
See #54

[2020-03-16 10:34] #61 closed

[2020-03-20 17:11] OscarWasa commented on #57
Hi Eric, I am new to this and I have problems with the leds w2812b, I have them connected GPIO 10 = PIN19 but I don't have to put in PIN LED and LED DMA

[2020-04-05 22:28] EricHigdon commented on #53
Dne in a1933d3

[2020-04-05 22:28] #53 closed

[2020-04-08 02:08] spivey76 opened #62 "Python => 3"
Any chance you're working on updating this to work with python => 3? This plugin is the only one keeping me from upgrading Octopi.

Thanks!

[2020-04-19 12:41] Piranit commented on #24
@KSALPJan did you solve problem?

[2020-04-25 19:46] Piranit commented on #24
I've figured out what is the problem.
It's because the Octoprint doesn't run for sudo.
I don't suggest doing this.
Here's why: https://community.octoprint.org/t/starting-octoprint-with-sudo-as-root-tells-me-you-should-not-run-octoprint-as-root-why/230
You'd better use GPIO10 and control via SPI.

[2020-04-26 12:37] mlapaglia opened #63 "Add support for APA102C"
Is there support for APA102C strips? https://www.sparkfun.com/products/14016

[2020-04-30 17:28] s200bym opened #64 "Add support for analog RGBW strips"
Hi, Would you be able to add in support for analog RGBW strips, please?

Thanks.

[2020-05-01 23:50] vldfr opened #65 "Problem with restarting Octoprint because of RGBstatus with Raspberry Pi 4 latest octoprint"
Whenever I install a new plugin(**after** installing RGB status) i have to reboot the entire Raspberry Pi because Octoprint can't bind to the port 5000, because it says it's still in use:
`2020-05-02 00:24:30,391 - octoprint.cli.server - ERROR - Uncaught exception
Traceback (most recent call last):
  File "/home/pi/OctoPrint/venv/bin/octoprint", line 8, in <module>
    sys.exit(main())
  File "/ho

[2020-05-05 09:17] Liftyee commented on #64
This would be very useful. Could you also make sure that it supports regular RGB LEDs?

[2020-05-10 12:10] cp2004 commented on #65
I think I might have this issue as well. Didn't think much of it but last few times I have tried to install plugins and restart it hasn't worked. It was on Pi3 I think though - I've just upgraded. I'll have to have another look

[2020-05-10 14:22] vldfr commented on #65
I have a theory: It might be because of the mandatory update to Python 3(that the latest Octoprint server requires) but I can't say for sure.

[2020-05-10 14:30] cp2004 commented on #65
It's not a mandatory update to python 3, OctoPrint will run on both. As I understand it, they are waiting for more plugins to have compatability before forcing it. As of OctoPrint 1.4.0 it supports both Python 2 and 3 simultaneously and it is up to the user which to run on and up to plugin authors to do so too.

[2020-05-10 14:32] vldfr commented on #65
Oh, I see, i just read that they want to keep Python 2 until 2021

[2020-05-13 14:18] drewzh commented on #65
I also have this with my RP3 (latest versions of Octoprint/RGB). I have to manually SSH in and restart the server each time. Last I checked it looked like some sort of resource lock.

[2020-05-13 21:04] Jameson42 commented on #10
Personally I'd settle for having one set of LEDs always white while a portion of the full set is used for print progress. For example, I have 16 LEDs in my setup. 8 are on the top bar, 6 are on the X axis, and 2 are on the print head. I'd prefer the top bar lights be used for print progress, and the other 8 just be static white. In my case, the top bar lights are the first 8 in the series of 16.

[2020-05-23 01:27] tomohulk opened #66 "[Question]Is it bad practice to power LED from the 5v pin(s) on the Raspberry PI?"
Im relatively new to these low voltage electronics.  I am currently running an Ender 3, with a buck converter, spliced onto the PSU, converting the 24v to 5v and powering my Raspberry Pi 3B via USB from the converter, it is running Klipper and Octoprint.  I recently bought a [WS2812 24 LED ring](https://www.amazon.com/gp/product/B07YZ4H5DB/ref=ppx_yo_dt_b_asin_title_o03_s00?ie=UTF8&psc=1&tag=tv-au

[2020-05-24 09:24] kareemtawab commented on #65
I'm having the same issue with my RPi4 running latest version of Octoprint v1.4.0 and plugin v1.6.0. The system restarts in safe mode on power up and I need to restart it again to get it to boot in normal mode. Looking in the logs:

2020-05-24 01:20:57,844 - octoprint.startup - INFO - ******************************************************************************
2020-05-24 01:20:58,255 - octoprint

[2020-05-25 00:55] johnrbussard opened #67 "Sleep / Night Lighting Mode"
Hello,

I have my printer in the same room as I sleep, and currently manually reset the led brightness.  It would be nice if there was a way to macro this, perhaps in the top bar of Octoprint.  I think it would be great if there could be instant overrides for 'off, night, bright white' without having to edit and redit the settings.  Thanks for your consideration!

[2020-05-28 21:21] Oxmaster opened #68 "Doesn't return to idle status after print is complete."
I have WS2812B on Pi4 with default settings on octoprint 1.4 installed from source on Linux Buster. "Effect delay" in every field is 10 of arbitrary units, which I assume are seconds or minutes and not hours. I have "Knight rider" effect for idle and startup and pulse green for complete.

Relevant logs from octoprint.log

[code]

In between there are no logs that are relevant to rgb_status, 2 hour

[2020-05-30 16:41] kareemtawab commented on #65
That doesn't seem interesting?

[2020-05-31 16:28] Hasinator opened #69 "Neopixel with level shifter on pin 21 not working"
I am running Neopixels on Pin 21 (BCM21) using a level shifter.
When starting octoprint with root ( ./octoprint --iknowwhatimdoing ) following shows up:

[code]
-> Neopixels don't light up at all

(i am using a touchscreen which is using pin10 - spi)

[2020-06-04 09:39] Hasinator commented on #69
Figured it out: didn't run octoprint as root correctly
`[https://community.octoprint.org/t/gpio10-already-used-run-octoprint-as-root-how/20351/6?u=hasinator](url)`

[2020-06-04 09:40] p8ght commented on #69
I didn't run octoprint as root correctly
[https://community.octoprint.org/t/gpio10-already-used-run-octoprint-as-root-how/20351/6?u=hasinator](url)

[2020-06-04 09:41] #69 closed

[2020-06-07 17:03] cp2004 commented on #66
It's generally _very_ bad practice to run LEDs straight from the GPIO for anything above a handful. The pi can only provide any leftover power - The Pi 3B + has a 2.6A Fuse (If my googling is correct) so you get `2.6A - Pi power consumption - peripherals` and that includes USB so if you have a camera that draws from that, as well as some printer boards can draw from the USB if their main power is

[2020-06-07 17:42] EricHigdon commented on #66
Thanks for covering this @cp2004. Agreed that pulling all of your power from the pi pins is not the best idea. I use separate supplies for my printer, pi, and LEDs. Just to avoid any chance of power issues.

This doesn’t mean that you can’t use the same power supply for both the pi and your LEDs though. Just tap into the PSU for both the RaspberryPi and the LEDs.

I would personally use two separa

[2020-06-07 17:42] #66 closed

[2020-06-08 12:22] cp2004 commented on #65
I've done some digging and testing with this plugin, and it appears that it blocks Octoprint from shutting down. I've got a few likely candidates to investigate but will have to do some more experimentation to find the route cause.
 - This plugin also stops any other plugin using the `on_shutdown()` hook from `octoprint.plugins.ShutdownPlugin`, and the server never fully finishes it's shutdown.

B

[2020-06-08 18:26] yorb commented on #64
Adding my vote for this. I currently use [OctoPrint-LEDStripControl](https://github.com/google/OctoPrint-LEDStripControl) to control my regular RGB LEDs, but that requires adding M150 commands into GCODE scripts. I'd love to be able to drive those LEDs via this plugin.

[2020-06-08 18:29] yorb commented on #28
Adding a vote for this. As mentioned, none of the common LED strip control plugins allow control based on printer events like this one does. It would be a great feature!

[2020-06-08 22:17] cp2004 commented on #65
I still can't get around this - Stripping it back and running without octoprint it seems to work to call `kill_effect`, the effect stops and everything is ok. The other thing that works is running octoprint directly with `octoprint serve` and pressing `ctrl-C` stops the thread, and you have to press again to stop octoprint. Interesting.
@EricHigdon any word on this issue? And if I manage to fix it

[2020-06-08 23:31] EricHigdon commented on #65
I haven’t had a chance to touch this yet. If you have an idea, I’ll be happy to accept a pull request.

It seems to me like the on_shutdown() hook isn’t being called.

[2020-06-09 16:45] cp2004 commented on #65
So it appears that Ocotoprint and the service restart don't play nice when there is more than one process.

To restart Octoprint, it calls `sudo service octoprint restart`:

- **Without the extra process** (From RGB Status), octoprint receives the TERM command from the system and runs it's shutdown methods (Close server sockets, calls `on_shutdown()` etc. etc.)
- **However when the plugin has crea

[2020-06-10 20:00] cp2004 commented on #65
@EricHigdon I have created a quick test plugin just now, it's here [Octoprint-TestProcess](https://github.com/cp2004/Octoprint-TestProcess) if you want to have a look. **It doesn't work either.**
The process ends really quickly when it's asked to, and all it's doing is sleeping for 100 secs and then printing (Logging doesn't work from the process for some reason, that might be my fault).
It also w

[2020-06-12 23:10] EricHigdon commented on #65
@cp2004 Do you have the ability to pul my latest changes and see if that fixes the problem for you? I think I have this working, but I had to break the progress code to do it, so before I put time into refactoring, I want to make sure that the fix works.

You should be able to pull the latest by going to the plugin folder and using git to checkout the main branch.

[2020-06-13 03:19] EricHigdon commented on #65
It turned out to not take so long to refactor the progress functionality, so this issue should be fixed in v 1.7 which will be released shortly.

[2020-06-13 03:21] EricHigdon commented on #62
The code technically already supports python3. There was a known bug (#65) that will be resolved in 1.7

[2020-06-13 03:21] #62 closed

[2020-06-13 03:23] EricHigdon commented on #67
I think #46 covers this? If not, it will probably be part of #51

[2020-06-13 03:23] #67 closed

[2020-06-13 03:25] EricHigdon commented on #60
This is weird, it seems like something is wrong with your rpi_ws281x installation. Are you using python2 or 3 for OctoPrint?

[2020-06-13 03:46] #65 closed

[2020-06-13 10:17] cp2004 commented on #65
Thanks for doing that - I had found a couple of references to rpi_ws281x not being thread safe, and I was going to think about changing it in a similar way you did this weekend. When I get a chance (It could be tomorrow) I'll give it a thorough test and report back.

[2020-06-13 13:19] EricHigdon commented on #50
https://github.com/jgarff/rpi_ws281x/issues/381 Indicates that this issue can be resolved by setting

`core_freq=500
core_freq_min=500`

I’ll give this a shot soon and implement it into the wizard if it works.

Note to self: I need a way to show the wizard again to someone who has already seen it if they are on an rpi4.

[2020-06-13 13:20] orgalinq opened #70 "V1.7.0 Broken when using Python2 on startup"
Upgraded today from 1.6 to 1.7. After that the plugin in not working anymore. The toggle switch in the nav-bar visually switches on and off on the screen but not the lights.

Using PI 3b+

[2020-06-13 13:21] EricHigdon commented on #70
Can you share your OctoPrint.log please?

You can find it in the logging section of the settings.

[2020-06-13 13:46] orgalinq commented on #70
Here it is:

  OrgaLinQ

kokkelmanlanden 23
7542 JC  Enschede
+31(0)651 608 840

(IPhone bericht)

[2020-06-13 13:51] EricHigdon commented on #70
@orgalinq the file is not attached.

I don’t think GitHub supports adding files from email attachments if that’s what you are trying to do.

[2020-06-13 14:07] orgalinq commented on #70
Ok, here is the octoprint.log

Thank you.
[octoprint.log](https://github.com/EricHigdon/OctoPrint-RGB_status/files/4774741/octoprint.log)

[2020-06-13 15:24] cp2004 commented on #50
Can confirm that this works on all my Rpi4s, you need both as it clocks down when not at high demand (Like higher end CPUs) and screws up the timing.

[2020-06-13 17:01] NameOfTheDragon commented on #70
I can confirm this. On mine, the effect freezes but the lights don't turn off.

Also, I noticed that saving the settings sometimes freezes the effect until the lights are toggled off and on from the navbar. However in the process of making this comment I noticed that I had my type of LED set incorrectly, and after I changed it I could no longer reproduce the freeze-after-settings-change thing. The

[2020-06-13 17:34] EricHigdon commented on #70
@NameOfTheDragon Can you share your OctoPrint.log as well please?

[2020-06-13 17:45] NameOfTheDragon commented on #70
[octoprint.log](https://github.com/EricHigdon/OctoPrint-RGB_status/files/4775098/octoprint.log)
Here's my log.

I've noticed an additional related issue. If the lights are toggled off then on during a print, they resume in the incorrect status (I get idle state, rainbow wipe, instead of printing state, all white).

[2020-06-13 20:41] cp2004 commented on #70
@NameOfTheDragon Does it resume the printing state once the progress bar changes again? That's how it's working my end.
@EricHigdon Maybe want to save a 'last effect' state so that on lights on you can just go straight back into it?

[2020-06-13 20:42] cp2004 commented on #70
For the main issue, for me it works, but is not an instant response. (Couple seconds delay) Could be due to the time it takes for effects to exit, I will have a look at if there are any waits that could be sped up

[2020-06-13 21:01] cp2004 opened #71 "1.7.0 Thoughts"
Not really an 'issue' as such, but as you said in #65 I'll give you my findings from my initial testing:
- It works 👍
- Restarting works 👍
- On my pi with an Octoprint dev environment set up, the LEDs work. However, on my OctoPi that is attached to the printer nothing is showing up on the LEDs. It could be settings or something but as far as I can see they are the same
- The strip is generally slo

[2020-06-13 21:16] cp2004 commented on #71
The only difference is that the printer is running Python 2, and my dev Python 3. I'll test if it is Python 3 vs 2 in a minute

EDIT: Yep, it's Python 2. So now the plugin is only Python 3 compatible?

[2020-06-13 21:38] EricHigdon commented on #71
Ok, so something is up with python 2 now. I thoroughly tested both versions. The only thing I can think of is that maybe running python 2.7 on startup causes an issue. I’m currently provisioning an additional RaspberryPi with a fresh OctoPrint install to try to track down the issue.

[2020-06-13 21:42] cp2004 commented on #71
I've just managed to get it to work. Nothing was showing in logs for RGB_Status for python 2 but after a couple of restarts on the dev pi it worked. No idea!

Edit: Now I can't get it to not work on the dev pi, but that doesn't help my OctoPi. I'll look into it tomorrow, it could be my setup if no one else reports it.

One final note is that now the plugin is Py3 compatible, you need to update the

[2020-06-14 00:59] EricHigdon commented on #70
@orgalinq @NameOfTheDragon This issue should be fixed in V1.7.1.
Please update and let me know if you still have this problem.

[2020-06-14 00:59] #70 closed

[2020-06-14 04:02] NameOfTheDragon commented on #70
I'm not sure if this is an odd Octoprint thing, but when installing the 1.7.1 update, after restarting Octoprint is prompting me to install it again. The plugin manager says I've still got 1.7.0 installed. When I try to reinstall it, in the installer output it says something like "This version was already installed, forcing a re-install". The fix IS working though, I can now toggle the lights on a

[2020-06-14 05:00] EricHigdon commented on #70
@NameOfTheDragon Try re-installing one last time please. I just forgot to change the version number in the plugin code.

[2020-06-14 16:01] orgalinq commented on #70
Have upgraded from 1.7.0 to 1.7.1. All right now, the LEDs can now switch on and off. At first glance everything else works ok too.
Happy with it, thank you!

[2020-06-14 19:51] cp2004 commented on #71
@EricHigdon thank you so much for your work on this, just updated the Printer to 1.7.1 and it worked beautifully. Ping me if you need any more testing or help for new features!

[2020-06-14 19:51] #71 closed

[2020-06-16 21:09] orgalinq opened #72 "Can't upgrade from 1.6.0 to 1.7.1"
Hello,
Yesterday successfully upgraded from 1.6.0 to 1.7.1. (Os: PI  Buster)
Today, on another PI & printer, I can't upgrade. (Os: PI  Stretch)
I get error codes, see my Logs.
Can you help me to fix this?

[RGB install error logs.txt](https://github.com/EricHigdon/OctoPrint-RGB_status/files/4789101/RGB.install.error.logs.txt)

Thank You very much in advance.

[2020-06-17 03:53] dd871 commented on #59
I can see exactly the same behaviour and had to unfortunately disable the plugin completely.

@EricHigdon, would you know if there is anything I can try to avoid the high cpu usage in idle? I suppose this should not be normal behaviour?

[2020-06-17 12:19] EricHigdon commented on #59
Can you share some details about your setup? How many leds do you have, what effect is running, at what speed when you see this?

[2020-06-17 15:34] cs2000 commented on #72
I too am getting this issue, even tried removing the plugin, rebooting and reinstalling, same error messages as the above commenter.

`Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-req-build-2ZACPx/
Error!
Could not parse output from pip, see plugin_pluginmanager_console.log for generated output`

[2020-06-17 19:03] bepstein111 commented on #64
+1 on this guy DEFINITELY

[2020-06-18 09:15] dd871 commented on #59
Thanks for the quick reply and also let me say that your plugin is really fantastic and has all the features I was looking for.

My setup is: 20 leds, connected via BCM pin 10 (MOSI). All plugin settings pretty much at the default value. SPI etc. is enabled.

I tested it a bit more and it is actually really strange, the moment the plugin is 'active' in the plugin manager, the CPU goes crazy. Even

[2020-06-19 14:54] wees commented on #72
Also having the same error when trying to update:

`Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-req-build-y0tfxp/`

[2020-06-20 16:14] EricHigdon commented on #72
Can someone try updating again? I think I have this issue resolved. in V1.7.2.

[2020-06-20 16:16] cs2000 commented on #72
Worked first time for me this time around. Thanks for the fix!

[2020-06-20 17:01] #72 closed

[2020-06-21 01:53] dd871 commented on #59
Not sure if it helps, but the only real error I can find anywhere in logs is from journalctl, related to 'queues':

[code]

[2020-06-21 04:05] dd871 commented on #59
I was able to fix the above IOError by adding a short sleep into your code after the update to the queue (relevant code snippet below - based on https://stackoverflow.com/questions/10607553/python-multiprocessing-queue-what-to-do-when-the-receiving-process-quits).

Unfortunately, this did not resolve the issue. As I am not seeing any other errors I am probably giving up now and will try to find a

[2020-06-21 05:10] jeevank opened #76 "Upgrading to v1.7.2 prevents Octoprint from loading"
After v1.7.2 upgrade is installed and server attempts to restart, Octopi no longer responds.

I'm using OctoPrint version: 1.4.0, OctoPi version: 0.17.0 on Raspi 3b (small WS2812B strip using SPI).

Let me know if I can provide any further debug info.

[2020-06-28 21:45] cp2004 commented on #76
Can you provide an `octoprint.log`? Ideally of when you installed the plugin, and restarted OctoPrint. Thanks

[2020-06-29 14:54] WilkBoy opened #77 "RGB_STATUS staying at 1.7.1 even though says update to 1.7.2 successfull"
I have tried updated to 1.7.2 from 1.7.1 a couple of times now. OctoPrint reports that the update was successful and reboots, but remains at 1.7.1 after the reboot.

Attached is my log:
[octoprint.log](https://github.com/EricHigdon/OctoPrint-RGB_status/files/4846229/octoprint.log)

I could try removing the plugin and adding/configuring it again. Any suggestions? Thanks!

[2020-06-29 21:56] orgalinq commented on #77
I have the same issue.

[2020-06-30 06:18] clevere12 opened #78 "Not working on Pi4"
I have this running successfully on the Pi3 B+.

Using the exact same LED setup, tested to work functionally on the 3B+, I can only get the LEDs to turn white. I uninstalled the plugin and reinstalled it.

I looked on the closed issues and found a reference to this problem, so I also changed the cpu_freq from 250 to 500.
No change. I also tried going to the reference link in case there was more tr

[2020-07-03 22:43] JohnTRoth commented on #60
I think I had done all sorts of things independant of the plugin, and recently got a touchscreen as well, so I formatted and started over. Now have it running (properly) along with the 3.5" touchscreen and all is well... must have been something I did horribly wrong. Never mind!

[2020-07-03 22:43] #60 closed

[2020-07-05 14:24] cp2004 commented on #78
head on over to your /boot/config.txt, and set
[code]
The Pi4 has variable clock speed, so this is needed to stop it from clocking-down when not in use. Not accounted for in the plugin yet.

edit: reference https://github.com/jgarff/rpi_ws281x/issues/381

[2020-07-05 17:52] clevere12 commented on #78
Thanks, Yes, did that.
I also ended up putting a different power supply on it the Pi.
The one that comes with it, I could not get anything to go.
The official Pi power supply, it works, as long as the USB-C connector is in the right orientation. The LEDs will come on
and function properly, but they flicker, even with the core_freq_min=500 and core_freq=500 set.

I have a much larger power supply c

[2020-07-05 18:39] cp2004 commented on #78
Generally I wouldn't recommend powering much more than a handful of LEDs from the Pi's power supply only, especially if you have a webcam as well.

[2020-07-05 18:45] clevere12 commented on #78
Agreed.
It has one very small fan, I don't know the specs and an Adafruit 1426  NeoPixel Stick - 8 x 5050 RGB LED with Integrated Drivers.

The Pi3 doesn't have the fan, doesn't need it. I believe that is where the problem lies.

[2020-07-06 19:15] NameOfTheDragon commented on #77
I'm seeing this too. This happened before and I suspect the author just forgot to update the version coded into the plugin.

@EricHigdon Maybe you could use something like [GitVersion](https://gitversion.readthedocs.io/en/latest/input/docs/) to automate this?

[2020-07-07 04:38] mon5termatt commented on #64
oh yeah this would be wonderful... just support Analogue rgb and also white.... i just dont want to put m150s in my code....

[2020-07-07 22:19] JohnTRoth commented on #14
I'd also be happy to test, and would also add that it would sure be nice to trigger desired effects via G-code as well. Perhaps a M150 E<effect_name> option.

My use case is an OctoScreen LCD display, which allows addition of buttons to trigger G-code on demand. It would sure be nice to be able to add buttons to enable different effects via the touchscreen.

[2020-07-08 23:05] JohnTRoth commented on #14
I took a first stab at this, and have it supporting R, G (or U), B, P, and I parameters, but one bug I haven't been able to track down... When using I to set an individual pixel, it clears all others and I have no idea why. Upon realizing the issue, I even added code to get the pixel color first and explicitly set it to that same color - but it still turns all others off. Hard-coding to a specific

[2020-07-09 00:41] EricHigdon commented on #14
@JohnTRoth i think the issue you are seeing with the LEDs being reset every time the M150 gcode is run is because every time you start a new effect it kills the old sub process and reinitializes the whole strip in a new sub process. If you want to have some sort of update functionality without killing the last effect, you should try something similar to the progress update that I am doing using th

[2020-07-09 14:34] JohnTRoth commented on #14
@EricHigdon I'm certain you're correct now that I look at the way you handle it... I'm not familiar with the queue functions though. I'll spend some time this weekend to try to integrate with it. Thanks!

[2020-07-09 15:23] EricHigdon commented on #14
Putting messages in the queue is pretty simple. See line 357 of __init__.py.

The complication is going to be in making the queue messages more universal. Right now it is either “KILL” or a progress percentage to update the progress effect. I think we need to make it into a JSON string that contains keys for progress, and brightness.

[2020-07-10 15:49] NovaViper opened #80 "Installing anything/restarting Octoprint after plugin install causes Octoprint to not start up anymore, old issue still persists"
Hi, it seems that the issues that #65 mentions is still present in v1.7.2, same errors and all. I'm running Octoprint 1.4.0 on Octopi v0.17.0 with a Rasperry Pi 3B+

[code]

[2020-07-11 20:12] JohnTRoth commented on #14
Putting them in isn't tough, and using JSON to hold parameters wasn't bad - but I'm not too sure what triggers the queue to be processed. That, or I have some stupid error holding things back. I converted your progress functionality without issue, but when I add my stuff to the queue it never takes effect (though the first non-queued one continues to work). I know there's plenty of room for improv

[2020-07-11 21:59] johnrbussard commented on #77
I’m experiencing this also.

[2020-07-12 00:44] orgalinq commented on #77
I’m experiencing this also.

[2020-07-12 22:47] JohnTRoth commented on #14
Got everything working, but I'm not a developer so there's plenty of room for optimization. I think it would be nice if all effects blocks accepted just a json object containing all their needed parameters... but that change may be a bit beyond me.

Added fully functional M150, supporting the following:
R - Red value (0-255)
G or U - Green value (0-255)
B - Blue value (0-255)
P - Brightness (0-255

[2020-07-14 03:54] MakeTheFuture opened #81 "Forced to fill in details I don't know - Plugin install has broken my Octoprint!"
Who on earth thought it was a good idea to force a user to input details they don't even know/have yet on reload after install of plugin? How do i disable/remove this terribly designed plugin now?

![image](https://user-images.githubusercontent.com/60119664/87382142-9402ad80-c5d9-11ea-81d2-a355589d7cf5.png)

[2020-07-14 08:20] EricHigdon commented on #81
I’m not sure what details you are referring to. You should know your own password. If you don’t, it’s probably the default “raspberry” as the setup says (twice). In which case, all you have to do is click the blue buttons.

It’s quite unlikely that you’ve accurately assessed the plugin as “terribly designed” when you haven’t progressed past the first step in setting it up.

Do you have a construct

[2020-07-14 08:25] #78 closed

[2020-07-14 12:17] unexist commented on #50
I cannot confirm, that this solution works for my Ender 3 Pro/Rasp 4B and according to the docs this combination isn't supported at all:

https://www.raspberrypi.org/documentation/configuration/config-txt/overclocking.md

**core_freq** is ignored as stated in the docs:

`Changing core_freq in config.txt is not supported on the Pi 4, any change from the default will almost certainly cause a failure

[2020-07-24 01:22] mon5termatt commented on #81
If you dont know your own password maybe you shouldnt be using octoprint, or any linux based device for that matter...

Probably could close this "issue" btw

[2020-07-24 01:26] mon5termatt opened #82 "(IDEA) Ability to Change "progress bar" animation"
I would like to have it so that when im printing it displays lights all on white except one

0=lit -=dim
`10% 0-00000000000000000
20% 000-000000000000000
30% 00000-0000000000000
40% 0000000-00000000000`
ETC....

[2020-07-24 01:26] mon5termatt commented on #82
i would love to code this myself but i have no idea where to even begin

[2020-07-24 01:40] EricHigdon commented on #81
@mon5termatt thanks. I wanted to give some time to give actual input or make a request. I think it’s fair to say there has been plenty of time.

[2020-07-24 01:40] #81 closed

[2020-07-24 01:41] MakeTheFuture commented on #81
Oh it absolutely is terribly designed. You can argue a strawman all you want and say stupid s**t like 'if you don't know your password'.

The point is, even if you enter the password your Octoprint install is f****d because of this plugin forcing you to enter these fields before proceeding. Your stuck in a chicken and egg situation that you cannot proceed past. Close the issue if you want but i gu

[2020-07-24 01:45] MakeTheFuture commented on #81
Grats on being one of three plugins in the plugin repo that if a user installs (by accident or before they have all the 'required' fields to enter), it will brick their Octopi with only the manual fix via command line possible as the user can no longer access the plugins area in settings to disable/uninstall once their caught here without this info. For most users that means, un-fixable.

[2020-07-24 01:53] EricHigdon commented on #81
I’m not sure what part of my previous comments makes you think I “can’t see past my own chin”? I’m trying to get productive information about the issue you are having. The fields that are required are for your password. Hence the comment about knowing your password and suggestion for if you don’t know it.

I’m using OctoPrint’s built-in UI for the setup wizard. It pops up after a restart because t

[2020-07-24 01:57] EricHigdon opened #83 "Look into ways to make the setup wizard less daunting"
Originally from #81 “This should require the user to enter into the settings area and configure the fields and only place a notification on login to state the plugin is not executing because setup is still required.”

[2020-07-24 01:58] EricHigdon commented on #81
“ This should require the user to enter into the settings area and configure the fields and only place a notification on login to state the plugin is not executing because setup is still required.”

Not a bad idea, but I’d want it to be VERY clear why the plugin isn’t working properly. I created #83 to at least look into options here. Thanks for your input.

[2020-07-24 02:04] EricHigdon commented on #82
@mon5termatt this is a cool idea for an alternate Progress look. I think I understand, but I’m going to recreate your diagram here using 10 leds as a note to myself.

10%:  -000000000
50%:  0000-00000
100%: 000000000-

[2020-07-24 02:11] MakeTheFuture commented on #81
Righto, I had you pegged worse then you appeared to me at first. Did not expect you to open another issue. Thanks from the community for that. Thought you were just, yet another, maintainer incapable of handling any critical feedback unless it was given to them as they are the master of the universe and infallible (as you might be able to tell, it's the only type ive run into). I should have start

[2020-07-25 13:51] corsinone commented on #77
Hello,
I had the same issue in these days.
I have solved it by unistalling it through the `Plugin Manager` into Octoprint web interface, and reinstalling it by command line.
Once disinstalled, I connected through SSH to the Raspberry connected to the printer, then I typed the following command from the `home`:
[code]
In this way the newer version (`1.7.2`) will be installed.

[2020-07-26 07:49] Laess3r commented on #77
I have the same issue too. Keeps saying "1.7.1" installed successfully when updating to 1.7.2.

[2020-07-28 11:40] orgalinq commented on #77
Thank you very much. That did the trick.

[2020-07-29 01:31] mon5termatt commented on #82
yeah sorry for the crap formatting, code blocks are a bitch

[2020-07-29 01:32] mon5termatt commented on #82
also adjustable width would be nice for the people like me who are running 144 led's/meter strands

[2020-07-29 01:33] mon5termatt opened #84 "If you hit the toggle on the navbar while printing and toggle the ldes back on it reverts to idle"
like the title says if you are in the middle of a print and toggle the led's off and then back on it will return to the IDLE effect

Will post video in comment when possible

[2020-07-29 01:39] mon5termatt commented on #84
https://youtu.be/GRuuxcOIsrs

[2020-07-29 02:12] EricHigdon commented on #82
Right. It would be all percentage base like the current progress effect.

Note to self: this could be accomplished with a “highlight” checkbox that dims the current percentage pixel, while still using the base color and progress color settings. That would allow for a lot of flexibility.

[2020-07-30 09:08] mon5termatt commented on #84
Feel like this is kinda the same as #68

[2020-08-13 15:32] Bimb0 opened #85 "Support for SK6812 RGB-WW/CW"
Hello, could you add support for led strip SK6812 RGB-WW/CW? I know SK6812 is included and works but white is not white but only RGB (255,255,255) I mean (0,0,0,255)

[2020-08-22 17:40] cp2004 commented on #68
Hey @Oxmaster

This feature is available in my plugin [OctoPrint-WS281x](https://github.com/cp2004/OctoPrint-WS281x_LED_Status) if you would like to see it implemented.

[2020-09-12 12:21] qwuille commented on #28
I second @yorb 's comment. 👍

[2020-09-16 08:12] illuminati05 opened #86 "Plugin entry under settings dissapeared"
The plugin does still work, but the Button in the top bar was gone and the plugin entry in the settings under plugins also has gone. I dont' know at which point it dissapeared, but i think it was an octoprint update 1.4.2. Then i tried a complete reinstall from scratch and then i installed your plugin to 1.4.2 but whith the same situation. Can you please help. Thank you
![2020-09-16 10_08_23-Green

[2020-10-10 01:14] joshrawls opened #87 "#FeatureRequest - Timeout in Print Finished Effect Settings"
It would be nice to have a timeout in the Print Finished Effect. It could be set to whatever time you would want to effect to continue after a print is finished.

My use case is that I print occasionally and I would want the status bar I installed to turn off after an hour or so. Otherwise I have to log into Octoprint and manually turn off the lights. Then I usually forget to turn them back on so

[2020-10-13 18:57] jgrossrieder opened #88 "After first reboot, led is blinking/staying white"
Hi,

When I first installed the plugin, everything was working fine, rainbow on idle, solid color on printing and specific color on success or failed print.

I did 4 prints with it during 30h, perfect.

But now I restarted the printer and
1) The leds stays white most of times
2) Sometimes, le led blink to another color(I think the color they are supposed to be).

I've checked the settings, they ha

[2020-10-14 18:58] jaytonic commented on #88
I tried several other things, removing core_freq_min, only setting core_freq.

But what has solved my issue is to set the core_freq=500. I think this is required to use it with the Rpi 4.

[2020-11-01 17:43] konkz opened #89 "Plugin stuck in setup mode after upgrading OctoPrint to python 3 / group gpio fpr user pi not recognized"
Hi there,
I upgraded OctoPrint to python 3 following https://github.com/cp2004/OctoPrint-Upgrade-To-Py3
Everything worked fine,  but the RGB-Status plugin is now stuck in setup mode:

![image](https://user-images.githubusercontent.com/54497015/97809868-0a521b00-1c70-11eb-8dd7-efecde9910d3.png)

The user pi is member of the group gpio:

![image](https://user-images.githubusercontent.com/54497015/97

[2020-11-01 17:49] cp2004 commented on #89
This is likely a Python 2/3 issue, since the default encoding of string literals has changed - the plugin would need to decode the output. There are other options for LEDs on your printer, https://plugins.octoprint.org/search/?q=ws281x

@EricHigdon when you get time to fix this problem, you likely have to add `.decode('utf-8')` to the process output, and add `from __future__ import unicode_literal

[2020-11-15 15:46] Titi9237 commented on #28
I third @yorb 's comment. +1

[2020-11-29 16:51] MaikelKelder commented on #89
I have exact the same issue, no fix yet??
I am using the 0.18 since I need to for my pi4

[2020-11-29 16:55] cp2004 commented on #89
@MaikelKelder indeed, there has not yet been a fix. You can't use this plugin on Python 3 properly, and must look at the other options.
@EricHigdon This is going to be more of a problem as more and more people upgrade, might be worth taking a look (I provided the likely solution above... 🙂 )

[2020-11-29 20:45] MaikelKelder commented on #89
@cp2004 I guess I have a bigegr problem, I cant even get my LEDs to work on my new RPI4 with 0.18 Octopi.
Tried everything I would think, on my RPI3B no issues, I think the GPIO pins are not really working in 0.18....
So need to wait for a fix anyhow.

[2020-11-29 20:50] cp2004 commented on #89
I also have that issue reported on my WS281x plugin, but yet to test it out. I fear it may be an upstream library issue.

[2020-11-29 22:05] MaikelKelder commented on #89
Yes, I tried all of them, nothing works, its a Octopi thing I am suspecting. Tried different GPIO pins, etc... separate power, etc.
So it doenst seem like the plugin is at fault here...  (it is for this post) sorry for going slightly off topic.

[2020-12-07 15:58] foobarjimmy commented on #89
How do you wire the led?I forgot to use common ground in the past and that was the cause.

[2020-12-07 16:03] MaikelKelder commented on #89
Sure I did, tried all the options in the book, even changing status of the
gpio pin, alternate mode of the pin, etc.
Just leds don’t react, I will try a led ring later but for now I stopped
trying.
Even tried a second pi4, same issue.

Cant seem to pinpoint the problem.

On Mon, 7 Dec 2020 at 16:59, Jim.li <notifications@github.com> wrote:

[2020-12-23 01:21] critterskins opened #90 "Integration for Home Assistant"
Could you please make an integration or webhook to turn the main light on and off

[2021-01-14 19:14] IonDari opened #91 "Couldn't install it!"
[code]

These are the error messages. Please help me to get it working or fix the issue.

[2021-01-14 19:15] IonDari opened #92 "Install is not working"
[code]

These are the error messages. Please help me to get it working or fix the issue.

[2021-01-14 19:15] #91 closed

[2021-02-05 19:23] Smitty357 commented on #90
I think this would be a nice addition as well.

[2021-02-08 02:43] jakecraftc128 opened #94 "Can’t get it to wok with my WS2812b LED strip. They’re either not on, or have an unresponsive pattern."

[2021-02-26 20:31] dbreggin opened #95 "Installer stuck on adding PI to GPIO group."
From other work I had already done, pi was already in the GPIO group.  It fails trying to add a user (pi) which is already there.  There is no graceful way out of this endless loop of programatic tail chasing.

Please catch this condition and allow the installer to continue.

[2021-02-28 17:30] JimKnightster commented on #95
Same issue here.  Question is how do I get past this so I can load my Octoprint?  I cant get past this 'required' page.

[2021-02-28 17:37] cp2004 commented on #95
Head to `http://<the-ip>/recovery`, start in safe mode and then remove the plugin.

[2021-03-21 00:40] #9 closed

[2021-03-21 00:41] #11 closed

[2021-04-06 21:58] #86 closed

[2021-04-29 05:14] mikekscholz commented on #95
For anyone else that may be experiencing this, update PSU Control if youre using it because it was causing all install wizards to lock up.

[2021-04-29 06:19] cp2004 commented on #95
Installing this plugin from the plugin manager in it's current state still breaks things as far as I know, we were recieving a lot of support issues around the OctoPrint forums & discord. PSU control did not break wizards, it was Spool Manager in that case.

The issue here is that your fixes have not been released - the URL submitted to the plugin manager is for the master branch, and your fix was

[2022-02-21 22:34] clevere12 opened #96 "Setup wizard on Pi4 stuck with set CPU freq after changing to 500"
Ok, so I downloaded the 1.7.3 from Github and I was able to past the gpio issue. But when booting and running the latest version of Octoprint, The LED's flash white. I see this was probably a CPU speed issue. So I changed the core clock to 500 and deleted the 250, but each time I reboot, the damned setup wizard comes up wanting me to set the cpu speed to 250...

[2022-08-25 05:54] Gifford47 commented on #55
in the latest code, the color is wiped correctly. no need for investigation anymore. thanks for feedback!

[2022-08-25 05:54] #55 closed

[2022-09-05 03:54] jes1510 commented on #95
Same issue here.  Finally uninstalled it in safe mode and installed the WS281x LED Status plugin which worked flawlessly.  This project looks like it may be abandoned.